.page-idleland-result-head {
	@include font-noto-sans-jp(medium);

	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.06em;
	color: $black;
	align-items: flex-end;
	margin: 0 0 82px;

	@include pc {
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 37px;
	}

	@include sp {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		margin: 0 0 40px;
	}
}

.page-idleland-result-head__num {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 1px;
		background-color: $black;
	}
}

.page-idleland-result-head__num-text {
	@include font-noto-sans-jp(bold);

	color: $main;
	font-size: 40px;
	line-height: 1;
	letter-spacing: 0.06em;
	margin: 0 6px 0 0;
}

.page-idleland-result-head__group {
	@include pc {
		display: flex;
		align-items: center;
	}

	@include sp {
		display: grid;
		grid-template-columns: 1fr;
		gap: 12px;
		width: 60%;
		margin: 0 0 0 20px;
	}
}

.page-idleland-result-head__select {
	display: flex;
	align-items: center;

	& + & {
		@include pc {
			margin: 0 0 0 24px;
		}
	}
}

.page-idleland-result-head__select-text {
	@include sp {
		width: 50%;
		margin: 0 10px 0 0;
	}
}

.page-idleland-result-head__select-body {
	font-size: 14px;
	padding: 8px 16px;
	background-color: $main;
	border: 1px solid $black;
	border-radius: 8px;
	margin: 0 0 0 8px;

	@include sp {
		font-size: 12px;
		padding: 8px 14px;
		margin: 0;
		text-align: center;
	}
}

.page-idleland-result-body {
	display: grid;
	grid-template-columns: 1fr;
	gap: 80px;

	@include sp {
		gap: 40px;
	}
}

.page-idleland-result-body__inner {
	@include pc {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.page-idleland-result-body__heading {
	@include font-noto-sans-jp(medium);

	color: $black;
	font-size: 24px;
	line-height: 1;
	letter-spacing: 0.06em;
	padding: 0 0 15px;
	margin: 0 0 24px;
	border-bottom: 1px solid #d9d9d9;
	width: 100%;

	@include pc {
		display: flex;
		align-items: center;
	}
}

.page-idleland-result-body__type {
	@include font-noto-sans-jp(medium);

	font-size: 14px;
	line-height: 1;
	border-radius: 4px;
	color: $black;
	background-color: #fee780;
	padding: 8px 12px;
	position: relative;
	top: 1px;
	margin: 0 16px 0 0;

	@include sp {
		display: inline-block;
		margin: 0 0 12px;
	}
}

.page-idleland-result-body__name {
	@include sp {
		display: block;
	}
}

.page-idleland-result-body__btn {
	margin: 0;

	@include sp {
		margin: 24px 0 0;
	}
}
