@charset "UTF-8";
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #fff;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #363636;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 1.5rem;
    line-height: 1.4;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
@media (min-width: 768px) and (max-width: 959px) {
  .wrapper {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    padding: 0 2rem;
  }
}

.preparation {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 767px) {
  .preparation {
    margin-top: 2rem;
  }
}

.logo {
  width: 23.2rem;
  height: 6.5rem;
  margin-left: auto;
  margin-right: auto;
}

.preparation__title {
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 600;
  color: #98CB72;
  margin-top: 4rem;
}
@media screen and (max-width: 767px) {
  .preparation__title {
    font-size: 2rem;
    margin-top: 2rem;
  }
}

.preparation__text {
  font-weight: 300;
  margin-top: 3rem;
}
@media screen and (max-width: 767px) {
  .preparation__text {
    margin-top: 3rem;
  }
}

.renewal {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .renewal {
    margin-top: 3rem;
  }
}

.renewal__title {
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 1.9rem;
  color: #C45858;
}
@media screen and (max-width: 767px) {
  .renewal__title {
    font-size: 1.8rem;
  }
}

.renewal__text {
  margin-top: 1.5rem;
}

@media screen and (min-width: 960px) {
  .pc__none {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .pc__none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sp__none {
    display: none;
  }
}

.date {
  font-weight: 300;
  text-align: right;
  margin-right: -4.6rem;
  margin-top: 3rem;
}
@media (min-width: 768px) and (max-width: 959px) {
  .date {
    margin-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .date {
    margin-right: 0;
    margin-top: 1.5rem;
  }
}

.renewal__destination {
  margin-top: 4rem;
  font-weight: 300;
}
@media screen and (max-width: 767px) {
  .renewal__destination {
    margin-top: 3rem;
  }
}

.renewal__destination__title {
  font-weight: 600;
}

.renewal__destination__access {
  width: 52.9rem;
  max-width: 100%;
  background-color: #EFEFEF;
  padding-top: 2.1rem;
  padding-bottom: 2.1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}