/public/build
# Node artifact files
node_modules/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar

# Maven
target/

# JetBrains IDE
.idea/

# Unit test reports
TEST*.xml

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# Custom
.env
npm-debug.log
/archive/
!.gitignore
/conf/
/logs/
/app/sql
/.vscode/
.prettierrc
.stylelintrc
gulpfile.js
package.json


# Wordpress
/app/public/cms-admin/*.php
!/app/public/cms-admin/wp-config.php
/app/public/cms-admin/.htaccess
/app/public/cms-admin/license.txt
/app/public/cms-admin/readme.html
/app/public/cms-admin/wp-admin
/app/public/cms-admin/wp-includes
/app/public/cms-admin/wp-content/ai1wm-backups
/app/public/cms-admin/wp-content/backup-db
/app/public/cms-admin/wp-content/cache
/app/public/cms-admin/wp-content/ewww
/app/public/cms-admin/wp-content/languages
/app/public/cms-admin/wp-content/plugins
/app/public/cms-admin/wp-content/upgrade
/app/public/cms-admin/wp-content/uploads
/app/public/cms-admin/wp-content/index.php
/app/public/cms-admin/wp-content/wp-cache-config.php
/app/public/cms-admin/wp-content/themes/index.php