.m-btn {
	@extend %btn;

	$mv: rem(40);

	margin: $mv auto 0;

	@include sp {
		$mv: rem(30);

		margin: $mv auto 0;
	}

	&--lg {
		margin-top: 90px;

		@include sp {
			margin-top: 60px;
		}
	}
}

.m-btn__link {
	@extend %btn-link;

	&--sm {
		@extend %btn-link-sm;
	}

	&--sp-sm {
		@extend %btn-link-sp-sm;
	}

	&--green {
		@extend %btn-link-green;
	}

	&--back {
		@extend %btn-link-back;
	}
}
