.m-card__head {
	margin: 0 0 16px;
}

.m-card__category {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 16px 0 12px;

	@include sp {
		margin: 0 0 16px;
	}

	&--lg {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 24px 0 16px;
	}

	&--start {
		display: grid;
		grid-template-columns: max-content max-content;
		gap: 40px;
		align-items: center;
		margin: 0 0 16px;

		@include sp {
			grid-template-columns: 1fr;
			gap: 12px;
			margin: 0 0 12px;
		}
	}
}

.m-card__tag-list {
	display: flex;
	flex-wrap: wrap;
	margin: 32px 0 0;

	&--sm {
		display: flex;
		flex-wrap: wrap;
		margin: 24px 0 0;
	}
}
