.m-heading {
	&--bg {
		@extend %heading-bg;

		margin: 0 0 56px;

		@include sp {
			margin: 0 0 40px;
		}
	}

	&--lg {
		@extend %heading-lg;
		@include font-noto-sans-jp(bold);

		margin: 0 0 40px;
	}

	&--lg-m {
		@extend %heading-lg;
		@include font-noto-sans-jp(medium);

		margin: 0 0 40px;
	}

	&--sm {
		@extend %heading-sm;

		margin: 0 0 24px;
	}
}

.m-heading-border {
	&--left {
		@extend %heading;
		@extend %heading-border-left;

		margin: 0 0 56px;

		@include sp {
			margin: 0 0 36px;
		}
	}

	&--bottom {
		@extend %heading-xs;
		@extend %heading-border-bottom;

		margin: 0 0 24px;

		@include sp {
			margin: 0 0 32px;
		}
	}
}

.m-heading-square {
	@extend %heading-square;

	margin: 0 0 32px;

	@include sp {
		margin: 0 0 24px;
	}
}
