.m-icon-num-circle {
	@extend %icon-num-circle;

	position: absolute;
	top: -1em;
	left: -1em;
	z-index: 2;
}

.m-icon-crown {
	@extend %icon-crown;

	position: absolute;
	top: -1.5em;
	left: 0;
	z-index: 2;

	&__text {
		position: relative;
		z-index: 3;
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.m-icon-front {
	display: inline-block;
	margin: 0 8px 0 0;
}

.m-icon-back {
	display: inline-block;
	margin: 0 0 0 8px;

	@include sp {
		position: absolute;
		top: 5px;
		right: 0;
		margin: 0;
	}
}

.m-icon-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.msp-icon-abs-top {
	@include sp {
		position: absolute;
		top: 5px;
		right: 0;
		margin: 0;
	}
}

.msp-icon-right {
	@include sp {
		display: flex;
		justify-content: flex-end;
	}
}
