.l-contents {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;

	&--sm {
		$v: rem(100);

		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		padding-left: $v;
		padding-right: $v;
	}

	&--c {
		padding-left: 13.4%;
		padding-right: 13.4%;
	}

	&--r {
		padding-right: 13.4%;
	}

	&--l {
		padding-left: 13.4%;
	}
}
