.page-advantages-mv {
	background-color: $bg-secondary;
	position: relative;
	padding: 0 0 64px;

	@include sp {
		padding: 0 0 40px;
	}

	&::after {
		@include pc {
			content: "";
			background-color: $bg-secondary;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: -50%;
			z-index: -2;
		}
	}
}

.page-advantages-mv__body {
	padding: 134px 0 80px;

	@include sp {
		padding: 70px 0 60px;
	}
}

.page-advantages-mv__heading {
	@include font-noto-sans-jp(black);

	color: $black;
	font-size: 48px;
	line-height: 1;
	letter-spacing: 0.08em;
	text-align: center;

	@include sp {
		font-size: 36px;
	}
}

.page-advantages-mv__desc {
	@include font-noto-sans-jp(bold);

	margin: 48px auto 0;

	@include pc {
		width: 440px;
		text-align: center;
	}

	@include sp {
		margin: 32px auto 0;
	}
}

.page-advantages-mv__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;

	@include sp {
		grid-template-columns: 1fr;
	}
}

.page-advantages-mv__link {
	@include font-noto-sans-jp(bold);

	background-color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 130px;
	font-size: 20px;
	border-radius: 10px;
	transition: $hover;
	padding: 24px;
	line-height: 1.5;

	@include hover {
		background-color: $main;
	}

	@include sp {
		height: 100px;
		font-size: 18px;
	}
}

.page-advantages-mv__icon,
.page-advantages-mv__link-text {
	display: block;
}

.page-advantages-mv__icon {
	margin: 0 24px 0 0;
	flex-shrink: 0;
}
