.page-advantages-main__section {
	padding: 64px 0 0;

	&:nth-of-type(n+2) {
		border-top: 1px solid $black;
		margin: 96px 0 0;
	}
}

.page-advantages-main__head {
	text-align: center;
}

.page-advantages-main__heading {
	@include font-noto-sans-jp(bold);

	font-size: 40px;
	color: $black;
	letter-spacing: 0.06em;
	line-height: 1;
	margin: 32px 0 0;

	@include sp {
		font-size: 28px;
		margin: 24px 0 0;
	}
}

.page-advantages-main__heading-en {
	@include font-noto-sans-jp(black);

	font-size: 12px;
	color: $main;
	letter-spacing: 0.06em;
	line-height: 1;
	margin: 24px 0 0;

	@include sp {
		font-size: 10px;
		margin: 18px 0 0;
	}
}

.page-advantages-main__desc {
	@include font-noto-sans-jp(bold);

	letter-spacing: 0.06em;
	margin: 32px 0 0;

	@include sp {
		margin: 24px 0 0;
		letter-spacing: 0;
	}
}

.page-advantages-main__body {
	margin: 56px auto 0;

	@include sp {
		margin: 40px auto 0;
	}
}
