.fp-feature {
	background-image: url("../images/front-page/feature-bg.png");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	@include sp {
		background-image: url("../images/front-page/feature-bg-sp.jpg");
	}
}

.fp-feature__head {
	text-align: center;
}

.fp-feature__body {
	$m: rem(22);

	margin-top: $m;
	text-align: center;
	position: relative;
}

.fp-feature__sub-text {
	$lh: rem(46);
	$w: rem(320);
	$m: rem(18);

	height: $lh;
	display: flex;
	justify-content: center;
	align-items: center;
	width: $w;
	margin: 0 auto $m;
	overflow: hidden;
	border-top: 1px solid $main;
	border-bottom: 1px solid $main;
	position: relative;

	@include sp {
		$lh: rem(32);
		$w: rem(210);
		$m: rem(12);

		height: $lh;
		width: $w;
		margin: 0 auto $m;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 50%;
		margin-top: -1rem;
		border-top: 1px solid $main;
		border-right: 1px solid $main;
		height: 2rem;
		width: 2rem;
	}

	&::before {
		left: -1rem;
		rotate: 45deg;

		@include sp {
			left: -1.4em;
		}
	}

	&::after {
		right: -1rem;
		rotate: -135deg;

		@include sp {
			right: -1.4em;
		}
	}
}

.fp-feature__sub-text-body {
	@include font-noto-sans-jp(regular);

	$f: rem(24);

	font-size: $f;
	color: $main;

	@include sp {
		$f: rem(16);

		font-size: $f;
	}
}

.fp-feature__main-text {
	@include font-zen-kaku-gothic-new(medium);
	@include line-height(80, 60);

	$f: rem(60);

	font-size: $f;
	color: $main;
	letter-spacing: 0.14em;

	@include sp {
		$f: rem(40);

		font-size: $f;
	}
}

.fp-feature__subject {
	@include font-zen-kaku-gothic-new(medium);

	$f: rem(30);
	$m: rem(20);

	font-size: $f;
	color: $black;
	letter-spacing: 0.07em;
	line-height: 1;
	margin: $m 0;

	@include sp {
		$f: rem(28);

		font-size: $f;
		margin: 1rem 0;

		@include line-height(40, 28);

		opacity: 0.64;
	}
}

.fp-feature__desc {
	@include font-noto-sans-jp(regular);

	font-size: 1rem;
	color: $black;
	line-height: 2;
	letter-spacing: 0.05em;
}

.fp-feature__map {
	@include pc {
		$b: rem(44);
		$w: rem(269);

		position: absolute;
		bottom: -$b;
		left: 50%;
		transform: translateX(-195%);
		width: $w;
	}

	@include sp {
		$w: rem(223);

		width: $w;
		margin: 1rem auto 0;
	}
}
