.fp-product {
	width: 100vw;
}

.fp-product__contents {
	position: relative;
	z-index: 1;

	&:nth-of-type(n+2) {
		$m: rem(120);

		margin-top: $m;

		@include sp {
			$m: rem(50);

			margin-top: $m;
		}
	}

	&--rusk {
		@include pc {
			$t: rem(250);

			margin-top: -$t;
			z-index: 2;
			position: relative;
		}

		@include mq-max-min(hd, sp) {
			margin-top: rem(-150);
		}

		@include sp {
			$m: rem(50);

			margin-top: $m;
		}
	}
}

.fp-product__head {
	$m: rem(75);

	margin-bottom: $m;

	@include sp {
		$m: rem(38);

		margin-bottom: $m;
	}
}

.fp-product-item {
	display: flex;
	justify-content: space-between;

	@include sp {
		flex-wrap: wrap;
		position: relative;
	}

	&--pb {
		@include sp {
			$pb: rem(70);

			padding-bottom: $pb;
		}
	}

	&--gap {
		@include mq-max-min(hd, sp) {
			gap: 5.857vw;
		}
	}
}

.fp-product-item__text {
	width: 33.6vw;

	@include sp {
		width: 100%;
		order: 2;

		$m: rem(25);

		margin-top: $m;
	}

	&--half {
		width: 50%;

		@include sp {
			width: 100%;
			order: 2;
		}
	}

	&--sm {
		width: 46%;

		@include sp {
			width: 100%;
			order: 1;
		}
	}

	&--sp-l {
		width: 33.6vw;

		@include sp {
			width: 100%;
			order: 2;

			$m: rem(25);

			margin-top: $m;
			padding-left: 6.4vw;
		}
	}

	&--sp-r {
		width: 33.6vw;

		@include sp {
			width: 100%;
			order: 2;

			$m: rem(25);

			margin-top: $m;
			padding-right: 6.4vw;
		}
	}
}

.fp-product-item__group {
	display: flex;
	align-items: center;

	@include sp {
		justify-content: space-between;
	}
}

.fp-product-item__farm {
	@include font-noto-sans-jp(medium);

	color: $black;
	font-size: 1rem;
	line-height: 1;
	letter-spacing: 0.05em;
}

.fp-product-item__name-text {
	@include font-zen-kaku-gothic-new(bold);
	@include line-height(52, 40);

	$f: rem(35);

	font-size: $f;
	color: $main;
	margin-top: 0.15em;
	letter-spacing: -0.01em;

	@include sp {
		$f: rem(30);

		font-size: $f;
	}

	&--sm {
		$f: rem(30);

		font-size: $f;

		@include sp {
			$f: rem(24);

			font-size: $f;
		}
	}

	&--xs {
		font-size: rem(13);
		font-weight: 400;
		color: $black;
		line-height: 1;
		display: block;
		margin-top: rem(5);
	}
}

.fp-product-item__sticker {
	$s: rem(100);

	width: $s;
	height: $s;
	margin-left: 1rem;

	@include sp {
		$s: rem(88);

		width: $s;
		height: $s;
	}
}

.fp-product-item__catch {
	@include font-zen-kaku-gothic-new(medium);
	@include line-height(40, 24);

	$f: rem(22);
	$m: rem(50);

	font-size: $f;
	color: $black;
	margin-top: $m;

	// letter-spacing: 0.05em;

	@include sp {
		$f: rem(20);
		$m: rem(35);

		font-size: $f;
		margin-top: $m;
	}
}

.fp-product-item__desc {
	@include font-noto-sans-jp(regular);
	@include line-height(36, 16);

	$m: rem(30);

	font-size: 1rem;
	color: $black;
	margin-top: $m;
	letter-spacing: -0.01em;

	@include sp {
		$m: rem(20);

		margin-top: $m;
	}
}

.fp-product-item__tags {
	display: flex;

	$m: rem(15);

	margin-top: $m;
}

.fp-product-item__tag {
	@include font-noto-sans-jp(regular);

	$f: rem(14);
	$l: rem(30);

	font-size: $f;
	color: $border;
	line-height: $l;
	border: 1px solid $border;
	border-radius: 2rem;
	padding: 0 1rem;
	text-align: center;
	display: inline-block;
	background-color: $white;

	&:nth-of-type(n+2) {
		$m: rem(5);

		margin-left: $m;
	}

	&--online {
		@include font-noto-sans-jp(bold);

		background-color: $green;
		border-color: $green;
		color: $white;
	}
}

.fp-product-item__caption {
	@include font-noto-sans-jp(regular);

	$f: rem(13);

	font-size: $f;
	line-height: 1;
	color: $black;
	margin-top: 2rem;

	@include sp {
		$m: rem(19);

		margin-top: $m;
	}
}

.fp-product-item__btn {
	$m: rem(50);

	margin: $m 0 0;
	text-align: left;

	@include sp {
		$m: rem(30);

		margin: $m 0 0;
	}

	&--abs {
		@include pc {
			$m: rem(50);

			margin: $m 0 0;
			text-align: left;
		}

		@include sp {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
		}
	}
}

.fp-product-item__image {
	width: 47vw;
	position: relative;

	&--sm {
		width: 33.6vw;
		position: relative;
	}
}

.fp-product-item__images {
	width: 44vw;
}

.fp-product-item__picture {
	text-align: right;
	width: 47vw;

	@include sp {
		width: 100%;
		order: 1;
	}

	&--abs {
		position: absolute;
		top: 0;
		right: 0;
	}

	&--half {
		width: 50%;
		text-align: right;

		@include sp {
			width: 100%;
			order: 1;
		}
	}

	&--half-v {
		width: 50vw;
		text-align: right;

		@include sp {
			width: 100%;
			order: 1;
		}
	}

	&--sm {
		width: 46.7%;
		text-align: right;

		@include sp {
			width: 100%;
			order: 1;
		}
	}
}

.fp-product-item__image-body {
	&--r {
		$r: rem(30);

		border-radius: 0 $r $r 0;

		@include sp {
			$r: rem(20);

			border-radius: 0 $r $r 0;
		}
	}

	&--l {
		$r: rem(30);

		border-radius: $r 0 0 $r;

		@include sp {
			$r: rem(20);

			border-radius: $r 0 0 $r;
		}
	}
}

.fp-product-item__detail-wrapper {
	position: relative;
}

.fp-product-item__detail {
	$m: rem(34);

	margin-top: $m;
	padding: $m 0;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;

	@include sp {
		$m: rem(22);

		margin-top: $m;
		padding: $m 0;
	}
}

.fp-product-item__detail-subject {
	@include font-noto-sans-jp(medium);

	$f: rem(20);

	font-size: $f;
	line-height: 1;
	color: $black;
	letter-spacing: 0.05em;

	@include sp {
		font-size: 1rem;
	}
}

.fp-product-item__detail-desc {
	@include font-noto-sans-jp(regular);
	@include line-height(22, 13);

	$f: rem(13);

	font-size: $f;
	color: $black;
	letter-spacing: 0.03em;
	margin-top: 1.15rem;

	@include sp {
		@include line-height(18, 12);

		$f: rem(12);
		$m: rem(10);

		font-size: $f;
		margin-top: $m;
	}
}

.fp-product-item__detail-image {
	$w: rem(284);
	$v: rem(93);
	$s: rem(19);

	position: absolute;
	right: -$s;
	top: -$v;
	width: 284px;
	z-index: 1;

	@include mq-max-min(tab, break) {
		width: 70%;
	}

	@include sp {
		$w: rem(173);
		$v: rem(48);
		$s: rem(16);

		width: $w;
		right: $s;
		top: -$v;
	}
}

.fp-product-item__visual-catch {
	@include font-zen-kaku-gothic-new(medium);

	$f: rem(38);
	$m: rem(20);

	font-size: $f;
	color: $black;
	margin-bottom: $m;
	line-height: 1;

	@include sp {
		text-align: center;

		$f: rem(24);
		$m: rem(15);

		font-size: $f;
		margin-bottom: $m;
	}
}

.fp-product-item__visual-desc {
	@include font-zen-kaku-gothic-new(medium);
	@include line-height(50, 30);

	$f: rem(26);
	$m: rem(60);

	font-size: $f;
	color: $black;
	margin-top: $m;

	@include sp {
		$f: rem(20);

		font-size: $f;
		margin-top: 0;
		text-align: center;
	}
}

.fp-product-parineru {
	$s: rem(100);

	padding: $s 0;
	background-color: #3b1608;
	background-image: url("../images/front-page/product-item-parineru-bg.png");
	background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;

	@include sp {
		$s: rem(70);

		padding: $s 0 rem(50);
		background-image: url("../images/front-page/product-item-parineru-bg-sp.jpg");
		aspect-ratio: 375 / 703;
	}
}

.fp-product-parineru-contents {
	height: 100%;
}

.fp-product-parineru-item {
	height: 100%;
}

.fp-product-parineru-text {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 100%;
	margin-top: 0;
}

.fp-product-parineru-logo-sub {
	position: relative;

	$mb: rem(32);
	$l: rem(35);

	margin-bottom: $mb;

	@include pc {
		left: -$l;
	}

	@include sp {
		$mb: rem(21);
		$w: rem(278);

		margin-bottom: $mb;
		width: $w;
		margin-left: auto;
		margin-right: auto;
	}
}

.fp-product-parineru-logo {
	@include sp {
		$w: rem(257);

		width: $w;
		margin-left: auto;
		margin-right: auto;
	}
}

.fp-product-parineru-detail-section {
	$p: rem(70);

	padding-top: $p;

	@include sp {
		padding-top: rem(50);
	}
}

.fp-product-parineru-detail-text {
	width: 46%;

	@include sp {
		order: 1;
		width: 100%;
		margin-top: 0;
	}
}

.fp-product-parineru-detail-images {
	$m: rem(35);

	margin-top: -$m;
	width: 43.6%;

	@include sp {
		$m: rem(47);

		margin-top: $m;
		width: 100%;
		order: 2;
	}
}

.fp-product-rusk-text {
	@include sp {
		order: 1;
		margin-top: 0;
	}
}

.fp-product-rusk-detail-picture {
	$m: rem(50);

	margin-top: $m;

	@include sp {
		order: 2;

		$m: rem(34);

		margin-top: $m;
		width: 100%;
	}
}

.fp-product-soft {
	background-image: url("../images/front-page/product-soft-bg.png");
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-size: cover;

	@include sp {
		background-image: url("../images/front-page/product-soft-bg-sp.jpg");
	}
}

.fp-product-melon {
	@include pc {
		padding-top: 0;
	}

	// padding-bottom: 0;
}

.fp-product-middle {
	background-image: url("../images/front-page/product-middle-bg.jpg");
	background-position: 50% 0;
	background-repeat: no-repeat;
	background-size: cover;

	@include sp {
		background-image: url("../images/front-page/product-middle-bg-sp.jpg");
	}
}

.fp-product-rusk {
	$b: rem(10);

	position: relative;
	border-top: $b solid #3b1608;
}

.fp-product-rusk-visual-text {
	@include sp {
		$pt: rem(333);

		padding-top: $pt;
	}
}

.fp-product-item-picture-rusk {
	@include pc {
		$t: rem(70);

		width: 47vw;
		position: relative;
		z-index: -1;
		right: auto;
		top: -$t;
	}

	@include sp {
		$t: rem(156);

		order: 2;
		width: 100%;
		position: absolute;
		top: $t;
		z-index: -1;
		left: 50%;
		transform: translateX(-50%);
	}
}

.fp-product-lower {
	position: relative;
	background-color: #fdfaf0;

	$mt: rem(120);
	$pb: rem(120);

	margin-top: $mt;
	padding-bottom: $pb;

	@include sp {
		$mt: rem(50);
		$pb: rem(50);

		margin-top: $mt;
		padding-bottom: $pb;
	}

	&::before {
		content: "";
		background-color: #fdfaf0;
		position: absolute;

		$t: rem(160);
		$h: rem(500);

		top: -$t;
		left: 0;
		width: 100vw;
		height: $h;
		z-index: -2;
		transform: skewY(-15deg);

		@include sp {
			$t: rem(60);

			top: -$t;
			transform: skewY(-10deg);
		}
	}

	&::after {
		content: "";
		position: absolute;

		$w: rem(2300);
		$h: rem(600);

		top: 50%;
		transform: translateY(-57%);
		left: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: $h 0 $h $w;
		border-color: transparent transparent transparent #fbf6e3;
	}
}

.fp-product-item-image-01 {
	@include sp {
		$w: rem(207);

		width: $w;
	}
}

.fp-product-item__link {
	background-color: $green;
	color: $white;
	border-color: $green;

	&::before {
		color: $white;
	}

	@include hover {
		background-color: $green-light;
		border-color: $green-light;
	}
}

.fp-product-item__visual-logo {
	text-align: center;
}
