.fp-about__head {
	$m: rem(70);

	margin: 0 0 $m;
}

.fp-about__contents {
	$p: rem(130);
	$m: rem(70);

	&--l {
		@include pc {
			padding-left: $p;
		}

		@include sp {
			padding-left: 6.4vw;
		}
	}

	&--r {
		@include pc {
			padding-right: $p;
		}

		@include sp {
			padding-right: 6.4vw;
		}
	}

	&:nth-of-type(n+2) {
		margin-top: $m;
	}
}

.fp-about__inner {
	$m: rem(70);

	padding-top: $m;
	position: relative;

	@include pc {
		display: grid;
		gap: 5%;
	}

	@include sp {
		$m: rem(50);

		padding-top: $m;
		display: flex;
		flex-wrap: wrap;
	}

	&--l {
		@include pc {
			grid-template-columns: 24.167% 70.833%;
		}
	}

	&--r {
		@include pc {
			grid-template-columns: 70.833% 24.167%;
		}
	}
}

.fp-about__subject {
	@include font-zen-kaku-gothic-new(medium);
	@include line-height(60, 40);

	$f: rem(40);

	font-size: $f;
	color: $white;
	background-color: $main;
	display: inline-block;
	letter-spacing: 0.07em;
	padding: 1em calc((5 / 4) * 1em) 0.9em;
	position: absolute;
	top: 0;
	z-index: 1;

	@include sp {
		@include line-height(34, 22);

		$f: rem(22);

		font-size: $f;
		padding: 1rem 6.4vw;
	}

	&--l {
		left: 0;

		@include sp {
			left: -6.4vw;
		}
	}

	&--r {
		right: 0;

		@include sp {
			right: -6.4vw;
		}
	}
}

.fp-about__body {
	$m: rem(200);

	margin-top: $m;

	@include sp {
		order: 2;

		$m: rem(40);

		margin-top: $m;
	}

	&--r {
		@include sp {
			padding-left: 6.4vw;
		}
	}
}

.fp-about__desc {
	@extend %desc;
	@include line-height(36, 16);

	letter-spacing: 0.03em;
}

.fp-about__picture {
	aspect-ratio: 850 / 500;
	line-height: 1;

	@include sp {
		aspect-ratio: 1 / 1;
		order: 1;
	}

	&--l {
		$r: rem(30);

		clip-path: inset(0 round $r 0 0 $r);
	}

	&--r {
		$r: rem(30);

		clip-path: inset(0 round 0 $r $r 0);
	}
}
