.fp-news {
	background-color: rgba($green-light, 0.08);
}

.fp-news__item {
	border-bottom: 1px solid $gray;

	&:first-of-type {
		border-top: 1px solid $gray;
	}
}

.fp-news__link {
	width: 100%;

	$r: rem(24.5);

	padding: $r 0;

	@include pc {
		display: flex;
		align-items: center;
	}

	@include sp {
		display: block;
	}
}

.fp-news__date {
	@include font-noto-sans(medium);

	font-size: 1rem;
	letter-spacing: 0.03em;
	line-height: 1;

	@include sp {
		$r: rem(14);

		font-size: $r;
	}
}

.fp-news__desc {
	@include font-noto-sans-jp(regular);

	font-size: 1rem;
	letter-spacing: 0.03em;
	line-height: 1;
	margin-left: 2em;

	@include sp {
		$r: rem(14);

		font-size: $r;
		margin-left: 0;
		margin-top: 0.6rem;
	}
}
