.fp-shop-detail {
	@include pc {
		display: grid;
		grid-template-columns: 60% 32%;
		justify-content: space-between;
		align-items: flex-start;
	}
}

.fp-shop-detail__picture {
	@include sp {
		$m: rem(50);

		margin-bottom: $m;
	}
}

.fp-shop-detail__logo {
	$w: rem(220);

	width: $w;

	@include sp {
		$w: rem(182);

		width: $w;
		margin: 0 auto;
	}
}

.fp-shop-detail__desc {
	@extend %desc;

	$m: rem(40);

	margin-top: $m;

	@include sp {
		text-align: center;

		$m: rem(28);

		margin-top: $m;
	}
}

.fp-shop-access {
	$mt: rem(70);

	margin: $mt 0 0;
	text-align: center;

	@include sp {
		$mt: rem(34);

		margin: $mt 0 0;
		text-align: left;
	}
}

.fp-shop-access__desc {
	@extend %desc;
	@include line-height(40, 16);
}

.fp-shop-access__block {
	$m: rem(40);

	margin-top: $m;

	@include sp {
		$m: rem(30);

		margin-top: $m;
	}
}

.fp-shop-access__subject {
	@include font-noto-sans-jp(medium);

	font-size: 1rem;
	color: $black;
	line-height: 1;
	letter-spacing: 0.03rem;
}

.fp-shop-access__note {
	@include font-noto-sans-jp(regular);

	$f: rem(13);

	font-size: $f;
	color: $black;
	line-height: 1;
	margin-top: 1.4rem;

	@include sp {
		$mt: rem(10);

		margin-top: $mt;
		line-height: 1.8;
	}
}

.fp-shop-map {
	aspect-ratio: 1000 / 400;

	$mt: rem(70);

	margin: $mt 0 0;

	@include sp {
		aspect-ratio: 327 / 285;

		$mt: rem(32);

		margin: $mt 0 0;
	}
}
