.fp-mv-wrapper {
	background-color: $bg-secondary;
	position: relative;
	margin: 0 auto 124px;
	padding: 0 0 40px;

	@include sp {
		margin: 0 0 96px;
	}

	&::after {
		content: "";
		background-color: $bg-secondary;
		width: 100vw;
		height: calc(100% + 80px);
		position: absolute;
		top: -80px;
		right: 0;
		z-index: -2;

		@include sp {
			height: calc(100% + 40px);
			top: -40px;
		}
	}
}

.fp-mv__heading {
	@include font-noto-sans-jp(bold);

	font-size: 48px;
	line-height: 1.7;
	letter-spacing: 0.06em;
	text-align: center;

	@include sp {
		font-size: 26px;
	}

	&--bold {
		display: inline-block;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 10px;
			height: 10px;
			background-color: $black;
			border-radius: 50%;

			@include sp {
				top: -3px;
				width: 6px;
				height: 6px;
			}
		}
	}
}
