.fp-search {
	@include sp {
		display: grid;
		grid-template-columns: 1fr;
		gap: 88px;
	}
}

.fp-search__upper {
	margin: 0 0 26px;
}

.fp-search-contents {
	@include pc {
		padding: 0 0 0 3.846%;
	}
}

.fp-search-category__body {
	overflow: hidden;
}

.fp-search-category__wrapper {
	@include sp {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;
	}
}

.fp-search-category {
	margin: 0 17px 0 0;

	@include pc {
		padding: 48px 36px 172px 24px;
		border-radius: 20px;
		width: 329px;
		border: 1px solid $black;
	}

	@include sp {
		width: 100%;
		padding: 0;
	}

	&:last-of-type {
		margin: 0;
	}
}

.fp-search-category__link {
	display: block;

	@include pc {
		height: 100%;
	}

	@include sp {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 24px;
		border-radius: 10px;
		border: 1px solid $black;
	}
}

.fp-search-category__subject {
	@include font-noto-sans-jp(medium);

	font-size: 24px;
	line-height: 1;
	letter-spacing: 0.03em;
	color: $black;
	position: relative;
	padding: 0 0 0 20px;
	margin: 0 0 32px;

	@include sp {
		font-size: 18px;
		padding: 0 0 0 17px;
		margin: 0;
		flex: 1 1 calc(100% - 34px);
	}

	&::before {
		content: "";
		background-color: $main;
		width: 13px;
		height: 13px;
		position: absolute;
		top: 7px;
		left: 0;
		border-radius: 50%;

		@include sp {
			width: 9px;
			height: 9px;
			top: 6px;
		}
	}
}

.fp-search-category__list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1em;
	font-size: 16px;
	margin: 0 0 40px;

	@include sp {
		display: none;
	}
}

.fp-search-category__anchor {
	@include font-noto-sans-jp(regular);

	line-height: 1;
	letter-spacing: 0.12em;
	color: #4d4d4d;
	position: relative;
	display: inline-block;
	padding: 0 0 0 17px;

	&::before {
		content: "";
		background-color: #aaa;
		width: 8px;
		height: 4px;
		position: absolute;
		top: 8px;
		left: 0;
		border-radius: 2em;
		transition: $hover;
	}

	&::after {
		content: "";
		bottom: -5px;
		left: 17px;
		width: 0;
		height: 2px;
		background-color: $black;
		position: absolute;
		transition: $hover;
	}

	@include hover {
		&::before {
			background-color: $main;
		}

		&::after {
			width: calc(100% - 17px);
		}
	}
}

.fp-search-category__bubble {
	border: 2px solid $black;
	border-radius: 0 26px 0 53px;
	padding: 32px 26px;

	@include font-noto-sans-jp(medium);

	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.12em;
	color: $black;
	transition: $hover;

	@include pc {
		position: absolute;
		bottom: 62px;
		left: 24px;
		width: calc(100% - 50px);
	}

	@include hover {
		background-color: $black;
		color: $white;

		.fp-search-category__icon {
			border-color: $main;
			background-color: $main;
		}
	}

	@include sp {
		display: none;
	}
}

.fp-search-category__icon {
	position: absolute;
	bottom: -12px;
	right: -12px;
	transition: $hover;

	&--sp {
		flex: 0 0 24px;

		@include pc {
			display: none;
		}
	}
}

.fp-search-tag__list {
	display: flex;
	flex-wrap: wrap;
	background-color: $bg-secondary;
	border-radius: 10px;
	padding: 40px 40px 24px;
	border: 1px solid $black;

	@include sp {
		padding: 40px 30px 24px;
	}
}

.fp-search-tag__item {
	margin: 0 16px 16px 0;
}

.fp-search-tag__link {
	@include font-noto-sans-jp(regular);

	font-size: 16px;
	line-height: 1;
	letter-spacing: 0.12em;
	color: $black;
	position: relative;
	display: inline-block;

	&::before {
		content: "＃";
	}

	&::after {
		content: "";
		bottom: -5px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: $black;
		position: absolute;
		transition: $hover;
	}

	@include hover {
		&::after {
			width: 100%;
		}
	}
}
