.page-officelab-qa {
	@include sp {
		margin-top: 3.125rem;
		padding-bottom: 3.125rem;
	}
}

.page-officelab-qa__head {
	text-align: center;
	margin: 0 0 2.8125rem;

	@include pc {
		margin: 0 0 5rem;
	}
}

.page-officelab-qa__title {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 500;
	font-size: 2.625rem;
	margin: 0 0 0.9688rem;

	@include pc {
		font-size: 5.25rem;
		line-height: 1.2024;
		margin: 0 0 1.9375rem;
	}

	&--sm {
		font-size: 0.7143em;
	}
}

.page-officelab-qa__heading {
	font-weight: 900;
	font-size: 1.125rem;
	letter-spacing: 0.1em;
	line-height: 1.4444;

	@include pc {
		font-size: 2.25rem;
	}
}

.page-officelab-qa__question,
.page-officelab-qa__answer {
	&::before {
		font-family: "Barlow Condensed", sans-serif;
		content: "Q.";
		font-size: 1.875rem;
		letter-spacing: 0;
		line-height: 1.2;
		font-weight: 500;
		padding: 0 0.6875rem 0.3125rem 0;

		@include pc {
			font-size: 3rem;
			padding: 0 1.5625rem 0.625rem 0;
		}
	}
}

.page-officelab-qa__question {
	font-weight: 900;
	font-size: 0.875rem;
	letter-spacing: 0;
	line-height: 1.4286;
	border: 0.1563rem solid $main;
	border-radius: 0.9375rem;
	padding: 0.875rem 1.25rem;
	display: flex;
	align-items: center;

	@include pc {
		border-radius: 1.875rem;
		padding: 1.125rem 3.75rem;
		font-size: 1.5rem;
		line-height: 1.4583;
		border-width: 0.3125rem;
	}

	&::before {
		content: "Q.";
	}

	&:nth-of-type(n+2) {
		margin-top: 1.625rem;

		@include pc {
			margin-top: 4.0625rem;
		}
	}
}

.page-officelab-qa__answer {
	padding: 0.875rem 1.25rem;
	border: 0.1563rem solid transparent;
	font-size: 0.875rem;
	letter-spacing: 0;
	line-height: 1.4286;
	display: flex;
	margin: 0 0 0.625rem;

	@include pc {
		padding: 1.125rem 3.75rem;
		border: 0.3125rem solid transparent;
		font-size: 1.5rem;
		line-height: 1.4583;
		margin: 0 0 1.25rem;
		align-items: center;
	}

	&::before {
		content: "A.";

		@include pc {
			padding-bottom: 0;
		}
	}
}

.page-officelab-qa__anchor {
	margin: 0 0.25rem 0 0;
	text-decoration: underline;

	@include hover {
		text-decoration: none;
	}

	&::after {
		content: "";
		display: inline-block;
		width: 1.625em;
		height: 1.375em;
		background: url("../images/officelab/icon-blank.svg") 50% 50% / contain no-repeat;
		vertical-align: -0.25em;
		margin: 0 0 0 0.25em;
	}
}

.page-officelab-qa__desc {
	flex: 1 1;
}
