.page-officelab-support__contents {
	@include sp {
		padding-bottom: 3.125rem;
	}
}

.page-officelab-support__heading {
	@include font-noto-sans-jp(black);

	margin: 0 0 42px;
	font-size: 24px;
	letter-spacing: 0.1em;
	text-align: center;
	line-height: 1.7083;

	@include pc {
		line-height: 2;
		font-size: 60px;
		margin: 0 0 84px;
	}

	&--bold {
		font-weight: inherit;
		line-height: 1;

		@include pc {
			font-size: inherit;
		}
	}

	&--italic {
		position: relative;
		display: inline-block;

		&::before {
			content: "";
			background: $main;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			position: absolute;
			top: -12px;
			left: 50%;
			transform: translateX(-50%);

			@include pc {
				top: -20px;
				width: 20px;
				height: 20px;
			}
		}
	}

	&--italic-sans {
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 700;
		font-style: normal;
		font-size: 36px;
		line-height: 1;
		vertical-align: -12px;
		margin: 0 3px;
		position: relative;
		display: inline-block;

		@include pc {
			font-size: 96px;
			line-height: 0.8;
			vertical-align: -20px;
			margin: 0 5px;
		}

		&::before {
			content: "";
			background: $main;
			border-radius: 50%;
			width: 12px;
			height: 12px;
			position: absolute;
			top: -12px;
			left: 50%;
			transform: translateX(-50%);

			@include pc {
				top: -20px;
				width: 20px;
				height: 20px;
			}
		}
	}
}

.page-officelab-support__two-column {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;

	@include pc {
		grid-template-columns: 1fr 1fr;
		gap: 60px;
	}
}

.page-officelab-support__subject {
	@include font-noto-sans-jp(black);

	position: relative;
	z-index: 0;

	&--one {
		width: 19.4688rem;
		height: 17.25rem;
		margin: 0 auto 2.9063rem;

		@include pc {
			width: 30.625rem;
			height: 27.1875rem;
			margin: 0 0 2.5625rem -1.875rem;
		}
	}

	&--two {
		width: 19.4688rem;
		height: 17rem;
		margin: 1.4375rem auto 2.6563rem;

		@include pc {
			width: 30.625rem;
			height: 26.8125rem;
			margin: 0 0 2.9375rem -1.875rem;
		}
	}
}

.page-officelab-support__subject-body {
	display: grid;
	grid-template: 1fr/1fr;
	background: url("../images/officelab/support-bubble-01.svg") 0 0 / contain no-repeat;
	width: 12.25rem;
	height: 10.387rem;

	@include pc {
		width: 19.3125rem;
		height: 16.375rem;
	}

	&::before {
		grid-row: 1/2;
		grid-column: 1/2;
	}
}

.page-officelab-support__subject-inner {
	grid-row: 1/2;
	grid-column: 1/2;
	padding: 0 0 0.9375rem;
	font-size: 1rem;
	letter-spacing: 0.02em;
	line-height: 1.4688;
	display: flex;
	align-items: center;
	justify-content: center;

	@include pc {
		font-size: 1.5rem;
		line-height: 1.6667;
		padding: 0 0 1.25rem;
	}

	&--two {
		line-height: 1.4286;
	}
}

.page-officelab-support__subject-text {
	text-align: center;

	&--bold {
		font-size: 1.25em;
		font-weight: inherit;

		@include pc {
			font-size: 1.3333em;
		}
	}

	&--num {
		font-size: 1.875em;
		line-height: 1;
		vertical-align: -0.0533em;
		margin: 0 0.0933em;

		@include pc {
			font-size: 1.875em;
		}
	}
}

.page-officelab-support__subject-picture {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	display: block;
	overflow: hidden;

	&--one {
		width: 14.8009rem;

		@include pc {
			width: 23.3087rem;
		}

		&::before {
			padding: 0 0 57.0864%;
		}
	}

	&--two {
		width: 12.1875rem;

		@include pc {
			width: 19.0625rem;
		}

		&::before {
			padding: 0 0 107.1429%;
		}
	}
}

.page-officelab-support__detail {
	@include font-noto-sans-jp(bold);

	z-index: 1;
	background: $main;
	border-radius: 0.9375rem;
	padding: 3.4375rem 1.5625rem 2.5rem;
	position: relative;
	font-size: 0.8125rem;
	letter-spacing: 0;
	line-height: 1.8462;

	@include pc {
		font-size: 1rem;
		line-height: 2;
		border-radius: 1.875rem;
		height: calc(100% - 30.625rem);
		padding: 5.75rem 3.75rem 3.75rem;
	}

	&::before {
		display: block;
		position: absolute;
		top: -2.3438rem;
		left: calc(50% - 2.3438rem);
		content: "";
		background: url("../images/officelab/support-icon.svg") 50% 50% / 0.6609rem no-repeat $white;
		width: 4.6875rem;
		height: 4.6875rem;
		border-radius: 50%;
		border: 0.3125rem solid $main;

		@include pc {
			width: 6.25rem;
			height: 6.25rem;
			border-width: 0.625rem;
			background-size: 0.9375rem;
			top: -3.125rem;
			left: calc(50% - 3.125rem);
		}
	}
}

.page-officelab-support__lead {
	@include font-noto-sans-jp(bold);

	font-size: 1.125rem;
	letter-spacing: 0.02em;
	line-height: 1.6667;
	text-align: center;

	@include pc {
		font-size: 1.25rem;
		line-height: 1.6;
	}
}

.page-officelab-support__block {
	margin: 1.875rem 0 0;
	position: relative;

	@include pc {
		margin: 3.75rem 0 0;
	}

	&:first-of-type {
		margin: 2.5rem 0 0;

		@include pc {
			margin: 5.625rem 0 0;
		}
	}

	& + & {
		padding: 1.875rem 0 0;

		@include pc {
			padding: 3.125rem 0 0;
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			border: none;
			left: 0;
			top: 0;
			z-index: 1;
			width: 100%;
			height: 0.0938rem;
			margin: auto;
			background: url("../images/officelab/support-border-dash.svg") 0 0 / 0.3125rem repeat-x;

			@include pc {
				height: 0.1875rem;
				background-size: 0.625rem;
			}
		}
	}
}

.page-officelab-support__block-head {
	@include font-noto-sans-jp(black);

	height: 2.5rem;
	display: flex;
	align-items: center;
	margin: 0 0 1rem;

	@include pc {
		margin: 0 0 1.5rem;
		height: 3.75rem;
	}

	&--one,
	&--two,
	&--three {
		margin: 0 0 1.3125rem;

		@include pc {
			margin: 0 0 2.125rem;
		}
	}
}

.page-officelab-support__block-num {
	background: #000;
	color: $white;
	font-size: 1.5rem;
	border-radius: 50%;
	margin: 0 0.5rem 0 0;
	width: 2.5rem;
	height: 2.5rem;
	font-style: normal;
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;

	@include pc {
		font-size: 1.75rem;
		margin: 0 1rem 0 0;
		width: 3.75rem;
		height: 3.75rem;
	}
}

.page-officelab-support__block-heading {
	font-size: 1.5rem;
	letter-spacing: 0.08em;
	line-height: 1.4583;
	margin: -0.9375rem 0;

	@include pc {
		font-size: 2rem;
		line-height: 1.4375;
		margin: -1.875rem 0;
	}

	&--sm {
		font-size: 1.125rem;
		letter-spacing: 0.08em;
		line-height: 1.4444;

		@include pc {
			font-size: 1.5rem;
			line-height: 1.4583;
		}
	}

	&--xl {
		font-size: 0.7778em;
		display: block;
		letter-spacing: 0.08em;

		@include pc {
			font-size: 0.8333em;
		}
	}

	&--xxl {
		display: block;
		font-size: 0.5833em;
		letter-spacing: 0.08em;

		@include pc {
			font-size: 0.625em;
		}
	}

	&--num {
		font-size: 1.25em;
		line-height: 1;
		margin: 0 0.0667em;
		font-style: normal;
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 700;

		@include pc {
			font-size: 1.5em;
			vertical-align: -0.0833em;
		}
	}

	&--num-md {
		font-size: 1.5556em;
		line-height: 1;
		margin: 0 0.0667em;
		font-style: normal;
		font-family: "Barlow Condensed", sans-serif;
		font-weight: 700;

		@include pc {
			font-size: 2em;
			vertical-align: -0.0833em;
		}
	}
}

.page-officelab-support__block-picture {
	background: $white;
	width: 100%;
	margin: 1rem 0 0;
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	@include pc {
		margin: 1.5rem 0 0;
		padding: 38px 0;
	}
}

.page-officelab-support__block-img--1 {
	width: 82.54%;
}

.page-officelab-support__block-img--2 {
	width: 89.52%;
}

.page-officelab-support__foot {
	text-align: center;
	margin: 2.5rem 0 0;

	@include pc {
		margin: 3rem 0 0;
	}
}

.page-officelab-support__foot-lead {
	font-size: 1.125rem;
	letter-spacing: 0;
	line-height: 1.6667;
	margin: 0 0 1.9375rem;

	@include pc {
		font-size: 1.5rem;
		line-height: 1.5;
		margin: 0 0 3.3125rem;
	}
}

.page-officelab-support__foot-picture {
	width: 14.625rem;
	margin: 0 auto;

	@include pc {
		width: 20rem;
	}

	&::before {
		padding: 0 0 49.3631%;
	}
}

.page-officelab-support__btn {
	background: $black;
	color: $white;
	letter-spacing: 0.08em;
	line-height: 1.75;
	text-decoration: none;
	border: 0.1875rem solid $black;
	transition-property: background-color, border-color, color;
	transition-duration: 0.4s;
	text-align: center;
	margin: 1rem 0 0;
	width: 100%;
	height: 3rem;
	border-radius: 1.5rem;
	font-size: 0.6875rem;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;

	@include pc {
		margin: 3rem 0 0;
		border-width: 3px;
		font-size: 0.75rem;
		height: 3.75rem;
		border-radius: 1.875rem;
	}

	@include hover {
		color: $black;
		background-color: $white;
		border-color: $main;
	}

	&::after {
		content: "";
		background: url("../images/officelab/icon-blank.svg") 0 0 / contain no-repeat;
		width: 1.625rem;
		height: 1.375rem;
		margin: 0 0 0 0.9688rem;
	}
}

.page-officelab-support__contact {
	@include font-noto-sans-jp(bold);

	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.08em;
	line-height: 1.75;
	text-decoration: none;
	border: 0.1875rem solid $black;
	transition-property: background-color, border-color, color;
	transition-duration: 0.4s;
	margin: 3.125rem auto 0;
	width: 100%;
	height: 3.75rem;
	border-radius: 1.875rem;
	font-size: 0.75rem;
	padding: 0 0 0.125rem 1.25rem;
	background: url("../images/officelab/icon-contact.svg") top 50% left 1.5625rem / 1.4375rem no-repeat $black;
	white-space: nowrap;

	@include pc {
		max-width: 37.5rem;
		margin: 6.25rem auto 0;
		font-size: 2rem;
		width: 37.5rem;
		height: 7.5rem;
		border-radius: 3.75rem;
		border-width: 3px;
		background-position: top 50% left 3.75rem;
		background-size: 2.875rem;
		padding: 0 0 0.25rem 2.5rem;
	}

	@include hover {
		color: $black;
		background-color: $white;
		border-color: $main;
	}
}

.page-officelab-support__more {
	margin-top: 50px;
	position: relative;
	border: 4px solid #000;
	border-radius: 10px;
	padding: 14px;
	font-size: 110%;
	text-align: center;
}

.page-officelab-support__bubble {
	position: absolute;
	top: -45px;
	left: -25px;
	width: 100px;
}
