.page-officelab-footer {
	background: #707070;
	color: $white;
	text-align: center;
	font-size: 0.625rem;
	letter-spacing: 0;
	line-height: 2;

	@include pc {
		font-size: 0.75rem;
		line-height: 2.3333;
	}
}

.page-officelab-footer__contents {
	padding-top: 2.4063rem;
	padding-bottom: 0.625rem;

	@include pc {
		padding-top: 6.25rem;
		padding-bottom: 1.75rem;
	}
}

.page-officelab-footer__upper {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0 0 2.3438rem;

	@include pc {
		width: 32.5rem;
		margin: 0 auto 5.3125rem;
	}
}

.page-officelab-footer__item,
.page-officelab-footer__link {
	font-size: 0.875rem;
	letter-spacing: 0;
	line-height: 1.4286;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 9.375rem;
	height: 9.375rem;
	border-radius: 50%;
	border: 0.1875rem solid $white;
	background: $white;
	color: $black;
	padding: 0 0 0.625rem;

	@include pc {
		font-size: 1.5rem;
		line-height: 1.5;
		width: 15rem;
		height: 15rem;
		padding: 0 0 1.25rem;
		border-width: 3px;
	}
}

.page-officelab-footer__link {
	font-weight: 900;
	text-decoration: none;
	background: #fce800;
	border-color: #fce800;
	transition: background-color 0.4s;

	@include hover {
		background-color: $white;
	}
}

.page-officelab-footer__item-anchor {
	text-decoration: underline;

	@include hover {
		text-decoration: none;
	}
}

.page-officelab-footer__item-icon--soshiki,
.page-officelab-footer__item-icon--note {
	display: block;
	width: 2.1875rem;
	height: 2.2188rem;
	margin: 0 0 0.7813rem;
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;

	@include pc {
		width: 3.8125rem;
		height: 3.8125rem;
		margin: 0 0 1.25rem;
	}
}

.page-officelab-footer__item-icon--soshiki {
	background-image: url("../images/officelab/icon-soshiki.svg");
}

.page-officelab-footer__item-icon--note {
	background-image: url("../images/officelab/icon-soshiki.svg");
}

.page-officelab-footer__logos {
	margin: 60px 0 0;

	@include pc {
		margin: 60px 100px 0;
	}
}

.page-officelab-footer__logo-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 4%;

	@include pc {
		grid-template-columns: repeat(3, 1fr);
	}
}

.page-officelab-footer__logo {
	margin: 4% 0;
}

.page-officelab-footer__logo-link {
	text-decoration: underline;
	color: $white;
	line-height: 1.5;

	@include hover {
		text-decoration: none;
	}
}

.page-officelab-footer__logo-body {
	width: 100%;
	border: 4px solid #aaa;
	border-radius: 10px;
	background: #aaa;
}

.page-officelab-footer__logo-desc {
	font-size: 0.6rem;
	text-align: center;
	margin: 20px 0;

	@include pc {
		font-size: 1rem;
	}
}

.page-officelab-footer__copyright {
	font-family: "Barlow Condensed", sans-serif;
	font-weight: 700;
	font-size: 0.5rem;

	@include pc {
		font-size: 0.75rem;
	}
}
