.page-officelab-map {
	@include sp {
		padding-bottom: 3.125rem;
	}
}

.page-officelab-map__head {
	text-align: center;
	margin: 0 0 2.8125rem;

	@include pc {
		text-align: center;
		margin: 0 0 2.8125rem;
	}
}

.page-officelab-map__heading {
	font-size: 1.2rem;
	line-height: 2rem;

	@include pc {
		font-size: 2.25rem;
		line-height: 3.5rem;
	}
}

.page-officelab-map__head-desc {
	font-size: 1.25rem;
	margin: 1rem 0 0.9688rem;
}

.page-officelab-map__bubble {
	width: 100%;
	text-align: center;
	margin: 0 auto;

	@include pc {
		width: 70%;
	}
}

.page-officelab-map__text-01 {
	font-size: 2rem;
	text-align: center;

	@include pc {
		font-size: 3rem;
	}
}

.page-officelab-map__text-02 {
	font-size: 1rem;
	text-align: center;
	margin: 15px 0 20px;

	@include pc {
		font-size: 1.3rem;
	}
}

.page-officelab-map__text-03 {
	font-size: 1.6rem;
	text-align: center;
	letter-spacing: 2px;

	@include pc {
		font-size: 2.2rem;
	}
}

.page-officelab-map__text-04 {
	font-size: 1rem;
	line-height: 1.7rem;
	text-align: center;
	margin: 20px 0;

	@include pc {
		font-size: 1.2rem;
	}
}

.page-officelab-map__lower-desc {
	width: 100%;
	font-size: 0.9rem;
	padding: 15px;
	font-weight: bold;
	text-align: center;
	border: 6px solid #f9e74d;
	border-radius: 14px;
	margin: 30px auto;

	@include pc {
		width: 70%;
		font-size: 1.5rem;
		text-align: center;
		letter-spacing: 1px;
	}
}

.page-officelab-map__lower-cat-img {
	width: 60px;
	margin: 0;
	vertical-align: middle;

	@include pc {
		width: 80px;
		margin: 0 15px;
	}
}

// svg map
.page-officelab-map-svg {
	a {
		text-decoration: underline;
	}
}

.cls-1 {
	fill: #f9e74d;
	stroke: $white;
	stroke-width: 1px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;

	text {
		fill: #000;
		stroke: #000;
		stroke-width: 0.26px;
		font-size: 20px;
		text-align: center;

		@include pc {
			font-size: 15px;
		}
	}

	@include hover {
		fill: #000;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;

		text {
			fill: #f9e74d;
			stroke: #f9e74d;
			font-weight: bold;
		}
	}
}

.cls-2 {
	fill: #dcdddd;
	stroke: $white;
	stroke-width: 1px;

	text {
		fill: #838383;
		stroke: #838383;
		stroke-width: 0.26px;
		font-size: 12px;
		text-align: center;

		@include pc {
			font-size: 10px;
		}
	}
}
