:php
	get_header();
	$url = get_permalink();
	$text = wp_get_document_title();
	$share_url = urlencode($url);
	$share_text = urlencode($text);

article.page-other

	.page-other__main
		section.l-section
			.l-contents
				.page-not-found
					.__head
						h1.__head-main 404
						p.__head-sub Not Found
					.__body
						h2.__title お探しのページが<br class="is-sp">見つかりませんでした。
						p.__desc 誠に申し訳ございませんが、お探しのページが見つかりませんでした。<br>一時的にアクセスができない状況にあるか、移動もしくは削除された可能性があります。<br>トップページにアクセスするか、ブラウザの戻るボタンをご利用ください。
						a.__btn.o-btn(href!="<?= URL_HOME ?>") トップページ
							span.icon-arrow.o-btn__arrow

:php
	get_footer();
