:php
	get_header();

.page-archive.l-section
	.page-archive-head
		.__contents.l-contents--sm
			.m-head
				p.m-head__sub-text − お知らせ −
				h1.m-head__main-text News

	.page-archive-body
		.__contents.l-contents--sm
			ol.page-archive-list
				:php
					$paged = get_query_var('paged', 1);
					$args = array(
						'paged' => $paged,
						'post_type' => 'post',
						'orderby' => 'date',
						'order' => 'DESC',
						'posts_per_page' => 15,
					);
					$the_query = new WP_Query($args);
					while ($the_query->have_posts()):
					$the_query->the_post();
				li.__item
					a.__link(href!="<?= get_the_permalink() ?>")
						p.__date
							:php the_time('Y.n.j');
						p.__desc
							:php the_title();
				:php
					endwhile;

			.page-archive-pagination
				:php
					wp_pagenavi(array('query' => $the_query));
					wp_reset_postdata();

:php
	get_footer();
