:php
	get_header();
	$url = get_permalink();
	$text = wp_get_document_title();
	$share_url = urlencode($url);
	$share_text = urlencode($text);
	$images = URL_FRONT_PAGE_IMAGES;

article.fp-mv
	video.__video(muted playsinline preload loop autoplay)
		source(src!="<?= URL_ASSETS ?>movie/mv.mp4" type="video/mp4")

article.fp-pickup.js-fp-pickup-slider.swiper
	.__wrapper.swiper-wrapper
		a.__item.swiper-slide(href="#product1")
			.__inner
				.__text
					p.__sub-text 浜中町指定牧場
					p.__main-text 北海道牛乳<br>ソフトクリーム
				.__sticker
					img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="56" height="56")
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-01.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product2")
			.__inner
				.__text
					p.__sub-text 浜中町指定牧場
					p.__main-text 北海道牛乳<br>クッキー
				.__sticker
					img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="56" height="56")
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-04.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product3")
			.__inner
				.__text
					p.__sub-text 浜中町指定牧場
					p.__main-text 北海道牛乳<br>シュークリーム
				.__sticker
					img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="56" height="56")
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-02.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product4")
			.__inner
				.__text
					p.__sub-text 浜中町指定牧場
					p.__main-text 北海道牛乳<br>プリン
				.__sticker
					img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="56" height="56")
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-03.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product5")
			.__inner
				.__text
					p.__main-text 摩訶不思議スイーツ<br>パリネル
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-05.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product6")
			.__inner
				.__text
					p.__main-text 北海道<br>シューラスク
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-06.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product7")
			.__inner
				.__text
					p.__main-text 北海道<br>バターガレット
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-07.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product8")
			.__inner
				.__text
					p.__main-text 北海道<br>スノーボールクッキー
					p.__sub-text--btm ~魅惑のホロホロ食感~
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-08.jpg", alt="" width="320" height="320")
		a.__item.swiper-slide(href="#product8")
			.__inner
				.__text
					p.__main-text かすてらロール
			picture.__picture
				img.__picture-body(src!="<?= $images ?>pickup-item-09.jpg", alt="" width="320" height="320")

article.fp-feature
	section.__section.l-section
		.__contents.l-contents
			.__head.js-inview
				p.__sub-text
					span.__sub-text-body 浜中プレミアムシリーズ
				h1.__main-text 浜中町指定牧場<br>北海道牛乳使用
			.__body.js-inview
				.__sticker
					img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="139" height="139")
				h2.__subject 北海道、浜中町で<br class="u-hide--pc">生まれました。
				p.__desc 北海道浜中町農協と<br class="u-hide--pc">指定牧場の生産者の協力を得て、<br>特選規格・乳脂肪分4.0%以上の生乳だけを<br class="u-hide--pc">選んでつくった<br class="u-hide--sp">成分無調整牛乳を使用した<br class="u-hide--pc">浜中プレミアムシリーズ。
				.__map
					img(src!="<?= $images ?>feature-map.png", alt="" loading="lazy" width="261" height="245")

article.fp-about
	section.__section.l-section
		.__head.js-inview
			h1.o-heading 最高の環境で、<br class="u-hide--pc">しあわせに育った<br>牛の牛乳は<br class="u-hide--pc">北海道からの贈り物。
		.__contents.--l.js-inview
			.__inner.--l
				h2.__subject.--l どこまでも、<br>のびのび育つ牛たち。
				.__body
					p.__desc 根釧エリアの夏の平均気温は約18℃。<br>暑さが苦手な牛たちにとって、<br>海辺の牧場はまさに楽園。<br>さらに一部の牛舎では、<br>牛にストレスをかけないよう<br class="u-hide--sp">繋がない<br class="u-hide--pc">「フリーストール」で<br class="u-hide--sp">飼育されています。
				picture.__picture.--l.o-fit
					img.o-fit__body(src!="<?= $images ?>about-img-01.jpg", alt="" loading="lazy" width="850" height="500")

		.__contents.--r.js-inview
			.__inner.--r
				h2.__subject.--r 浜中町ならではの<br>飼料が美味しさの秘訣。
				picture.__picture.--r.o-fit
					img.o-fit__body(src!="<?= $images ?>about-img-02.jpg", alt="" loading="lazy" width="850" height="500")
				.__body.--r
					p.__desc 北海道・浜中町には、<br>保湿性、通気性、通水性にすぐれた、<br>栄養たっぷりの土と、<br>海のミネラル豊富な潮風を受けた<br>飼料があります。<br>高品質な飼料で育った<br>牛から生まれた特撰規格の牛乳です。

article.fp-product
	section.__section.l-section.fp-product-soft
		.__contents.l-contents--c#product1
			.__head.js-inview
				h1.o-heading 牛乳本来の<br class="u-hide--pc">おいしさを<br class="u-hide--sp">そのまま<br class="u-hide--pc">閉じ込めました。
			.__body.js-inview
				.fp-product-item.cl-yfe
					.__text--half
						.__group
							.__name
								p.__farm 浜中町指定牧場
								h2.__name-text 北海道牛乳<br>ソフトクリーム
							.__sticker
								img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="100" height="100")
						h3.__catch さわやかな香りと<br class="u-hide--pc">コク深い牛乳の味わい<br>本物の牛乳ソフトクリーム
						p.__desc 牛乳の美味しさをそのまま感じられる味わいを目指して、試行錯誤を積み重ねた当店のオリジナルブレンド。4.0%の乳脂肪分のコク深い味わいと、さっぱりとした口溶けが特徴のソフトクリームです。
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-1")
								span 商品情報を見る
					picture.__picture--half
						img.fp-product-item-image-01(src!="<?= $images ?>product-item-01.png", alt="" loading="lazy" width="347" height="697")

	section.__section.l-section.fp-product-middle
		.__contents.l-contents--r#product2
			.__body.js-inview
				.fp-product-item
					picture.__picture--half-v
						img.upc-size-full(src!="<?= $images ?>product-item-02.png", alt="" loading="lazy" width="637" height="650")
					.__text
						.__group
							.__name
								p.__farm 浜中町指定牧場
								h2.__name-text 北海道牛乳<br class="u-hide--pc">クッキー
								ol.__tags
									//- li.__tag.--online オンラインOK
									li.__tag 常温
							.__sticker
								img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="100" height="100")
						h3.__catch 牛乳の香り豊かなクッキー<br>可愛いパッケージが<br class="u-hide--pc">おみやげにもオススメ
						p.__desc ミルク風味がしっかりと感じられる、どこか懐かしく、やさしい味わいです。
						p.__caption ※9枚セットパッケージ
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-2")
								span 商品情報を見る

		.__contents.l-contents--l#product3
			.__body.js-inview
				.fp-product-item
					.__text
						.__group
							.__name
								p.__farm 浜中町指定牧場
								h2.__name-text 北海道牛乳<br>シュークリーム
								ol.__tags
									li.__tag お持ち帰り限定
									li.__tag 要冷蔵
							.__sticker
								img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="100" height="100")
						h3.__catch 浜中町の特選牛乳を使用した<br>カスタードクリームと<br class="u-hide--pc">北海道産小麦の<br class="u-hide--sp">芳醇な香りが特徴の<br class="u-hide--pc">シュークリーム
						p.__desc 牛乳をたっぷりと使用したカスタードに北海道産生クリームを合わせた風味豊かなクリームを北海道産小麦を100%使用したシュー生地にたっぷり詰め込みました。
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-3")
								span 商品情報を見る
					picture.__picture
						img.upc-size-full(src!="<?= $images ?>product-item-03.png", alt="" loading="lazy" width="680" height="771")

		.__contents.l-contents--r#product4
			.__body.js-inview
				.fp-product-item
					picture.__picture
						img.upc-size-full(src!="<?= $images ?>product-item-04.png", alt="" loading="lazy" width="614" height="684")
					.__text
						.__group
							.__name
								p.__farm 浜中町指定牧場
								h2.__name-text 北海道牛乳<br class="u-hide--pc">プリン
								ol.__tags
									li.__tag お持ち帰り限定
									li.__tag 要冷蔵
							.__sticker
								img(src!="<?= URL_SVG ?>icon-sticker.svg", alt="" loading="lazy" width="100" height="100")
						h3.__catch さっぱりとした口溶けが特徴の<br>クセになる味わい
						p.__desc さっぱりとした食感とコク深い牛乳の香りが特徴の、一度食べるとまた食べたくなるプリンです。
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-4")
								span 商品情報を見る

	section.__section.l-section.fp-product-parineru.js-inview#product5
		.__contents.l-contents--c.fp-product-parineru-contents
			.fp-product-item.fp-product-parineru-item
				.__text.fp-product-parineru-text
					.__upper
						p.fp-product-parineru-logo-sub
							img(src!="<?= $images ?>product-logo-parineru-sub.svg", alt="摩訶不思議スイーツ" width="453" height="141")
						h1.__visual-logo.fp-product-parineru-logo
							img(src!="<?= $images ?>product-logo-parineru.svg", alt="パリネル" width="418" height="95")
					p.__visual-desc.usp-mt-0.c-white 究極のパリパリ食感と<br>世にも不思議な<br class="u-hide--pc">トンカ豆クリームの<br class="u-hide--sp">マリアージュ

	section.__section.l-section.fp-product-parineru-detail-section
		.__contents.l-contents--c
			.__body.js-inview
				.fp-product-item.--pb
					.__text.fp-product-parineru-detail-text
						.__group
							.__name
								h2.__name-text 摩訶不思議スイーツ<br>パリネル
								ol.__tags
									li.__tag お持ち帰り限定
									li.__tag 冷蔵／冷凍
						p.__desc パリパリ食感を長く維持するパイ生地に、4種のクリームをブレンドした世にも珍しいトンカ豆クリームを詰めました。<br>通常のパイ生地とは異なるエアリーな食感と、エキゾチックな風味の最高級トンカ豆クリームの相性が絶妙です。<br>食べた人にしか分からない、当店自慢の摩訶不思議スイーツをご堪能ください。
						p.m-btn.fp-product-item__btn--abs
							a.__link.js-modal-btn(data-modal-id="modal-5")
								span 商品情報を見る
					.__images.fp-product-parineru-detail-images
						picture.__picture--full
							source(media="(max-width: 767px)" srcset!="<?= $images ?>product-item-05-sp.png")
							img.upc-size-full(src!="<?= $images ?>product-item-05.png", alt="エキゾチックな風味の最高級トンカ豆クリーム" loading="lazy" width="456" height="271")
						.__detail-wrapper
							dl.__detail
								dt.__detail-subject トンカ豆
								dd.__detail-desc 中南米原産のマメ科植物の種子で、芳香性の高い香り成分のクマリンを含み、桜の葉や桃の花のような上品な香りを持っています。
							.__detail-image
								img(src!="<?= $images ?>product-item-05-b.png", alt="" loading="lazy" width="303" height="169")

	section.__section.l-section.fp-product-rusk#product6
		.__contents.l-contents--l
			.fp-product-item.js-inview
				.__text.fp-product-rusk-text
					p.__visual-catch 北海道の新感覚スイーツ
					picture.__visual-logo
						source(media="(max-width: 767px)" srcset!="<?= $images ?>product-logo-rusk-sp.svg")
						img(src!="<?= $images ?>product-logo-rusk.svg", alt="北海道シュガーラスク" width="484" height="180")
					p.__visual-desc.fp-product-rusk-visual-text カリッサクッ!の軽い口当たりと<br>北海道産小麦とバターの<br>クセになる美味しさ<br>おみやげ人気No.1商品
				picture.__picture.fp-product-item-picture-rusk
					img.upc-size-full(src!="<?= $images ?>product-item-rusk.png", alt="" loading="lazy" width="762" height="888")

		.__contents--rusk.l-contents--c
			.__body.js-inview
				.fp-product-item.--pb
					.__text--sm
						.__group
							.__name
								h2.__name-text 北海道シューラスク
									br
									small.__name-text--sm （プレーン／ショコラ）
								ol.__tags
									//- li.__tag.--online オンラインOK
									li.__tag 常温
						p.__desc シュー生地を二度焼きする事で「カリッ サクッ」の軽い口当たりに。北海道産バターと小麦の風味がクセになる洋菓子店ならではの美味しさ。<br>常温保管で日持ちも長いのでおみやげにもピッタリ。<br class="u-hide--sp">発売開始から10年以上が経過した当店の看板商品です。
						p.m-btn.fp-product-item__btn--abs
							a.__link.js-modal-btn(data-modal-id="modal-6")
								span 商品情報を見る
					picture.__picture--sm.fp-product-rusk-detail-picture
						img.upc-size-full(src!="<?= $images ?>product-item-06.png", alt="" loading="lazy" width="471" height="383")

	section.__section.fp-product-lower
		.__contents.l-contents--r-sp-full#product7
			.__body.js-inview
				.fp-product-item
					picture.__picture
						img.__image-body--r.upc-size-full(src!="<?= $images ?>product-item-07.png", alt="" loading="lazy" width="643" height="550")
					.__text--sp-l
						.__group
							.__name
								h2.__name-text 北海道バターガレット
								ol.__tags
									//- li.__tag.--online オンラインOK
									li.__tag 常温
						h3.__catch バターをたっぷりと使用して焼き上げた伝統的な厚焼きクッキー
						p.__desc 柔らかで豊かなバターの風味をラム酒がやさしく引き立てます。シンプルなお菓子こそ職人の腕が光るパティシエ自慢の重厚な味わいをお愉しみください。
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-7")
								span 商品情報を見る

		.__contents.l-contents--l-sp-full#product8
			.__body.js-inview
				.fp-product-item
					.__text--sp-r
						.__group
							.__name
								h2.__name-text 北海道<br>スノーボールクッキー
									br
									small.__name-text--sm 〜魅惑のホロホロ食感〜
								ol.__tags
									//- li.__tag.--online オンラインOK
									li.__tag 常温
						h3.__catch 芳醇なバターの風味と<br class="u-hide--pc">ナッツの香ばしさ<br>魅惑のホロホロ食感
						p.__desc 長い年月をかけてたどり着いた独自の配合で生み出される魅惑のホロホロ食感。芳醇なバターの風味とナッツの香ばしさが織りなすクセになる味わい。純白の雪が舞い散る北海道ならではのクッキーです。
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-8")
								span 商品情報を見る
					picture.__picture
						img.__image-body--l.upc-size-full(src!="<?= $images ?>product-item-08.png", alt="" loading="lazy" width="643" height="550")

		.__contents.l-contents--r-sp-full#product9
			.__body.js-inview
				.fp-product-item
					picture.__picture
						img.__image-body--r.upc-size-full(src!="<?= $images ?>product-item-09.png", alt="" loading="lazy" width="643" height="550")
					.__text--sp-l
						.__group
							.__name
								h2.__name-text かすてらロール
								ol.__tags
									li.__tag お持ち帰り限定
									li.__tag 要冷蔵
						h3.__catch やさしい甘さのかすてら生地と<br>北海道産生クリームのマリアージュ
						p.__desc 上白糖を使用して焼き上げたやさしい甘さのかすてら生地で乳脂肪分45%の濃厚な北海道産生クリームを巻き上げました。<br>和と洋の絶妙なバランスが感じられるロールケーキです。
						p.m-btn.fp-product-item__btn
							a.__link.js-modal-btn(data-modal-id="modal-9")
								span 商品情報を見る

article.fp-shop#shop
	section.__section.l-section
		.__contents.l-contents
			.__head.m-head.js-inview
				p.m-head__sub-text − 店舗情報 ／ アクセス −
				h1.m-head__main-text Store 
					small.m-head__main-text--sm &
					|  access
			.__body
				.fp-shop-detail.js-inview
					picture.__picture.o-fit
						img.o-fit__body(src!="<?= $images ?>shop-img.jpg" loading="lazy" width="600" height="320")
					.__text
						h2.__logo
							img.__logo-body(src!="<?= URL_SVG ?>logo.svg", alt="sweets garden Prateria" loading="lazy" width="220" height="48")
						p.__desc 小樽市堺町5番29号<br>（おみやげの店 こぶしや 小樽店内併設）<br>TEL.0134-64-6122<br>営業時間　10時〜18時<br>定休日　　不定休<br>（※現在は月曜日が定休日です）
				.fp-shop-access.js-inview
					p.__desc 小樽の人気観光スポット「堺町通り」の中心にある石造り倉庫のお土産店内に併設。<br>北一硝子駐車場からも信号を渡るとすぐの好立地。<br class="u-hide--sp">入り口は、北一硝子駐車場向かい側、堺町通り側の2カ所。
					dl.__block
						dt.__subject  お車でお越しの方へ
						dd.__note 申し訳ございませんが、駐車場はご用意しておりません。近辺の駐車場をご利用ください。
				.fp-shop-map.o-fit.js-inview
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1798.8403330725782!2d141.0055113965011!3d43.19372610287246!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0ae050241cae79%3A0x69b08ac60bc49586!2z44GK44G_44KE44GS44Gu5bqX44GT44G244GX44KE5bCP5qi95bqX!5e0!3m2!1sja!2sjp!4v1677645983503!5m2!1sja!2sjp" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			.__foot
				p.m-btn
					a.__link(href="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1798.8403330725782!2d141.0055113965011!3d43.19372610287246!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5f0ae050241cae79%3A0x69b08ac60bc49586!2z44GK44G_44KE44GS44Gu5bqX44GT44G244GX44KE5bCP5qi95bqX!5e0!3m2!1sja!2sjp!4v1677645983503!5m2!1sja!2sjp" target="_blank")
						span Google Mapで地図をみる

article.fp-news#news
	section.__section.l-section
		.__contents.l-contents--sm
			.__head.m-head.js-inview
				p.m-head__sub-text − お知らせ −
				h1.m-head__main-text News
			.__body.js-inview
				ul.__list
					li.__item
						a.__link
							p.__date 2023.03.00
							p.__desc sweets garden Prateriaとしてサイトをリニューアルしました。
					li.__item
						a.__link
							p.__date 2023.01.18
							p.__desc sweets garden Prateriaオープンしました。

.fp-modal.js-modal#modal-1
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-a-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-a-02.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-a-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-a-02.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				h1.__name 浜中町指定牧場<br>北海道牛乳ソフトクリーム
				p.__desc さわやかな香りとコク深い牛乳の味わい<br>本物の牛乳ソフトクリーム
				dl.__price
					dt.__count 1個
					dd.__price-body
						span.__price-num 390
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc コーン：小麦・乳成分<br>カップ：乳成分
						tr
							th.__table-subject 消費期限
							td.__table-desc ー
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria

		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-2
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-b-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-b-02.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-b-03.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-b-04.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-b-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-b-02.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-b-03.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-b-04.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					//- li.__category.--online オンラインOK
					li.__category 常温
				h1.__name 浜中町指定牧場<br>北海道牛乳クッキー
				p.__desc 牛乳の香り豊かなクッキー<br>可愛いパッケージがおみやげにもオススメ
				dl.__price
					dt.__count 9枚セット
					dd.__price-body
						span.__price-num 990
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 小麦・乳成分
						tr
							th.__table-subject 賞味期限
							td.__table-desc 製造日より90日間<br>※到着予定日より起算して60日以上の商品にて発送致します。
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria（おみやげの店こぶしや  小樽店）<br>おみやげの店こぶしや  札幌店
				p.__caption ※店頭では1枚からお買い求め頂けます。
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-3
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-c-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-c-02.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-c-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-c-02.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					li.__category お持ち帰り限定
					li.__category 要冷蔵
				h1.__name 浜中町指定牧場<br>北海道牛乳シュークリーム
				p.__desc 浜中町の特選牛乳を使用したカスタードクリームと<br>北海道産小麦の芳醇な香りが特徴のシュークリーム
				dl.__price
					dt.__count 1個
					dd.__price-body
						span.__price-num 380
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・小麦・乳成分
						tr
							th.__table-subject 消費期限
							td.__table-desc 当日中
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-4
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-d-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-d-02.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-d-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-d-02.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					li.__category お持ち帰り限定
					li.__category 要冷蔵
				h1.__name 浜中町指定牧場<br>北海道牛乳プリン
				p.__desc さっぱりとした口溶けが特徴の<br>クセになる味わい
				dl.__price
					dt.__count 1個
					dd.__price-body
						span.__price-num 380
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・乳成分
						tr
							th.__table-subject 消費期限
							td.__table-desc 製造日より5日間
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-5
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-e-01.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-e-01.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					li.__category お持ち帰り限定
					li.__category 冷蔵／冷凍
				h1.__name 摩訶不思議スイーツ<br>パリネル
				p.__desc 究極のパリパリ食感と<br>世にも不思議なトンカ豆クリームのマリアージュ
				dl.__price
					dt.__count 1個
					dd.__price-body
						span.__price-num 385
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・小麦・乳成分
						tr
							th.__table-subject 消費期限
							td.__table-desc 冷蔵品（当日仕上げ）は製造日より2日間（小樽店限定）<br>冷凍品は製造日より45日間
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria（おみやげの店こぶしや  小樽店）<br>おみやげの店こぶしや  札幌店
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-6
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-f-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-f-02.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-f-03.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-f-04.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-f-05.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-f-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-f-02.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-f-03.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-f-04.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-f-05.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					//- li.__category.--online オンラインOK
					li.__category 常温
				h1.__name 北海道シューラスク<br>（プレーン／ショコラ）
				p.__desc カリッサクッ!の軽い口当たりと<br>北海道産小麦とバターのクセになる美味しさ<br>おみやげ人気No.1商品
				dl.__price
					dt.__count プレーン
					dd.__price-body
						span.__price-num 550
						span 円（税込）
				dl.__price
					dt.__count ショコラ
					dd.__price-body
						span.__price-num 550
						span 円（税込）
				dl.__price
					dt.__count ギフトセット<br>
						small.__count--sm （プレーン＆ショコラ）
					dd.__price-body
						span.__price-num 1,150
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・小麦・乳成分
						tr
							th.__table-subject 賞味期限
							td.__table-desc 製造日より45日間<br>※到着予定日より起算して30日以上の商品にて発送致します。
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria（おみやげの店こぶしや  小樽店）<br>おみやげの店こぶしや  札幌店
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-7
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-g-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-g-02.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-g-03.jpg", alt="")
							.swiper-slide
								img(src!="<?= $images ?>product-large-g-04.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-g-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-g-02.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-g-03.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-g-04.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					//- li.__category.--online オンラインOK
					li.__category 常温
				h1.__name 北海道バターガレット
				p.__desc 北海道産バターをたっぷりと使用して<br>焼き上げた伝統的な厚焼きクッキー
				dl.__price
					dt.__count 4個入りセット
					dd.__price-body
						span.__price-num 1,250
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・小麦・乳成分
						tr
							th.__table-subject 賞味期限
							td.__table-desc 製造日より45日間<br>※到着予定日より起算して30日以上の商品にて発送致します。
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria（おみやげの店こぶしや  小樽店）<br>おみやげの店こぶしや  札幌店
				p.__caption ※店頭ではお一つからお買い求め頂けます。
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-8
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-h-01.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-h-02.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-h-03.jpg", alt="" loading="lazy" width="400" height="400")
							.swiper-slide
								img(src!="<?= $images ?>product-large-h-04.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-h-01.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-h-02.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-h-03.jpg", alt="" loading="lazy" width="87" height="87")
						.swiper-slide
							img(src!="<?= $images ?>product-large-h-04.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					//- li.__category.--online オンラインOK
					li.__category 常温
				h1.__name 北海道スノーボールクッキー<br>~魅惑のホロホロ食感~
				p.__desc 芳醇なバターの風味とナッツの香ばしさ<br>魅惑のホロホロ食感
				dl.__price
					dt.__count 3個入×5袋セット
					dd.__price-body
						span.__price-num 980
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・小麦・乳成分
						tr
							th.__table-subject 賞味期限
							td.__table-desc 製造日より60日間<br>※到着予定日より起算して30日以上の商品にて発送致します。
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria（おみやげの店こぶしや  小樽店）<br>おみやげの店こぶしや  札幌店
				p.__caption ※店頭では1袋（3個入）からお買い求め頂けます。
		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg

.fp-modal.js-modal#modal-9
	.__main
		article.__article
			.__images
				.__main-slider
					.__slider.swiper.js-modal-slider
						.swiper-wrapper
							.swiper-slide
								img(src!="<?= $images ?>product-large-i-01.jpg", alt="" loading="lazy" width="400" height="400")
					.__arrow.--prev.js-modal-slider__prev
					.__arrow.--next.js-modal-slider__next
				.__thumbnails.swiper.js-modal-slider-thumb
					.swiper-wrapper
						.swiper-slide
							img(src!="<?= $images ?>product-large-i-01.jpg", alt="" loading="lazy" width="87" height="87")
			.__detail
				ol.__categories
					li.__category お持ち帰り限定
					li.__category 要冷蔵
				h1.__name かすてらロール
				p.__desc やさしい甘さのかすてら生地と<br>北海道産生クリームのマリアージュ
				dl.__price
					dt.__count 1個
					dd.__price-body
						span.__price-num 390
						span 円（税込）
				table.__table
					caption.__table-caption 商品詳細
					tbody
						tr
							th.__table-subject アレルギー
							td.__table-desc 卵・小麦・乳成分
						tr
							th.__table-subject 消費期限
							td.__table-desc 製造日より2日間
						tr
							th.__table-subject 取り扱い店舗
							td.__table-desc sweets garden Prateria

		button.__close.js-modal-close
			span.__close-text ×
	.__bg.js-modal-bg


:php get_footer();