:php
	get_header();
	$url = get_permalink();
	$text = wp_get_document_title();
	$share_url = urlencode($url);
	$share_text = urlencode($text);

article.page-other
	.page-other__head
		.page-title
			.__body
				h1.o-heading--xl
					:php the_title();

	.page-other__main
		section.l-section
			.l-contents
				.page-sitemap
					ol.__list
						li.__item
							a.__anchor(href!="<?= URL_HOME ?>")
								span トップページ
								span.__icon.icon-arrow
						li.__item
							a.__anchor(href!="<?= URL_ARCHIVE ?>")
								span 記事一覧
								span.__icon.icon-arrow
						li.__item
							a.__anchor(href!="<?= URL_ADVANTAGES ?>")
								span 広島県の魅力
								span.__icon.icon-arrow
					ol.__list
						li.__item
							a.__anchor(href!="<?= URL_COWORKINGOFFICE ?>")
								span シェアオフィスを探す
								span.__icon.icon-arrow
						li.__item
							a.__anchor(href!="<?= URL_IDLELAND ?>")
								span 産業団地・遊休地を探す
								span.__icon.icon-arrow
						li.__item
							a.__anchor(href!="<?= URL_DOCUMENT ?>")
								span 資料ライブラリ
								span.__icon.icon-arrow
						li.__item
							a.__anchor(href!="<?= URL_SUPPORT ?>")
								span 支援制度
								span.__icon.icon-arrow
						li.__item
							a.__anchor(href!="<?= URL_ABOUT ?>")
								span 知事からのメッセージ
								span.__icon.icon-arrow

:php
	get_footer();
