:php
	get_header();
	$url = get_permalink();
	$text = wp_get_document_title();
	$share_url = urlencode($url);
	$share_text = urlencode($text);

article.page-advantages
	.__head
		.page-title
			.__body
				h1.o-heading--xl
					:php the_title();

	.__main
		.__wrapper
			section.__section.l-section
				.__contents.l-contents
					h2.__heading ひととモノが行き交い、元気で、おいしくて、暮らしやすい広島。<br>もっと広島を知ると、ビジネスと暮らしの拠点として、さらに期待が膨らむはずです。
					.__list
						.__item
							a.__link(href!="<?= URL_ARCHIVE ?>396/")
								dl.__inner
									dt.__subject
										.__icon
											<svg width="34" height="56" viewBox="0 0 34 56" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="16.4167" cy="53.1036" rx="11.2644" ry="2.89655" fill="black" class="page-advantages__icon-fill--black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.7373 43.3508C16.7373 43.3508 32.1856 27.9687 32.1856 16.7356C32.1856 12.6385 30.558 8.70917 27.6609 5.81205C24.7638 2.91494 20.8345 1.28736 16.7373 1.28736C12.6402 1.28736 8.71087 2.91494 5.81376 5.81205C2.91664 8.70917 1.28906 12.6385 1.28906 16.7356C1.28906 27.9687 16.7373 43.3508 16.7373 43.3508ZM21.1497 16.5038C21.1497 18.9415 19.1736 20.9176 16.7359 20.9176C14.2982 20.9176 12.3221 18.9415 12.3221 16.5038C12.3221 14.0662 14.2982 12.09 16.7359 12.09C19.1736 12.09 21.1497 14.0662 21.1497 16.5038Z" fill="#FFC600" class="page-advantages__icon-fill"/><path fill-rule="evenodd" clip-rule="evenodd" d="M16.7356 2.57471C12.9799 2.57471 9.37804 4.06666 6.72235 6.72235C4.06666 9.37804 2.57471 12.9799 2.57471 16.7356C2.57471 19.2706 3.45315 22.1372 4.86205 25.0768C6.26372 28.0013 8.14553 30.9061 10.0485 33.4928C11.9486 36.0756 13.8517 38.3168 15.2809 39.9131C15.8532 40.5522 16.3484 41.0868 16.7356 41.4972C17.1229 41.0868 17.6181 40.5522 18.1903 39.9131C19.6195 38.3168 21.5226 36.0756 23.4228 33.4928C25.3257 30.9061 27.2075 28.0013 28.6092 25.0768C30.0181 22.1372 30.8965 19.2706 30.8965 16.7356C30.8965 12.9799 29.4046 9.37804 26.7489 6.72235C24.0932 4.06666 20.4913 2.57471 16.7356 2.57471ZM16.7356 43.3508C15.8273 44.2631 15.8268 44.2626 15.8268 44.2626L15.8232 44.259L15.8135 44.2492L15.7776 44.2133C15.7466 44.182 15.7014 44.1362 15.6429 44.0766C15.526 43.9573 15.356 43.7825 15.1406 43.5568C14.7099 43.1056 14.0971 42.4507 13.3627 41.6306C11.8954 39.9917 9.93644 37.6853 7.97453 35.0185C6.01539 32.3555 4.03513 29.3086 2.54025 26.1896C1.0526 23.0858 0 19.8172 0 16.7356C0 12.2971 1.76321 8.04029 4.90175 4.90175C8.04029 1.76321 12.2971 0 16.7356 0C21.1742 0 25.431 1.76321 28.5695 4.90175C31.708 8.04029 33.4713 12.2971 33.4713 16.7356C33.4713 19.8172 32.4187 23.0858 30.931 26.1896C29.4361 29.3086 27.4559 32.3555 25.4967 35.0185C23.5348 37.6853 21.5759 39.9917 20.1085 41.6306C19.3742 42.4507 18.7614 43.1056 18.3307 43.5568C18.1153 43.7825 17.9453 43.9573 17.8284 44.0766C17.7699 44.1362 17.7247 44.182 17.6936 44.2133L17.6578 44.2492L17.6481 44.259L17.6445 44.2626C17.6445 44.2626 17.644 44.2631 16.7356 43.3508ZM16.7356 43.3508L17.6445 44.2626C17.1422 44.7627 16.3291 44.7627 15.8268 44.2626L16.7356 43.3508ZM11.033 16.5038C11.033 13.3552 13.5855 10.8027 16.7342 10.8027C19.8829 10.8027 22.4353 13.3552 22.4353 16.5038C22.4353 19.6525 19.8829 22.205 16.7342 22.205C13.5855 22.205 11.033 19.6525 11.033 16.5038ZM16.7342 13.3774C15.0075 13.3774 13.6078 14.7771 13.6078 16.5038C13.6078 18.2305 15.0075 19.6303 16.7342 19.6303C18.4609 19.6303 19.8606 18.2305 19.8606 16.5038C19.8606 14.7771 18.4609 13.3774 16.7342 13.3774Z" fill="black" class="page-advantages__icon-fill--black"/></svg>
										h3 立地環境
									dd.__desc 「地方都市」とくくってしまうにはもったい無い。<br>ひともモノも情報も集まる広島県。
									dd.__arrow
										<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17" cy="17" r="16" stroke="black" stroke-width="2" class="page-advantages__arrow-circle"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9281 10.572L24.7768 15.7572C25.0744 16.0754 25.0744 16.5913 24.7768 16.9095L19.9281 22.0947C19.6306 22.4129 19.1482 22.4129 18.8506 22.0947C18.5531 21.7765 18.5531 21.2606 18.8506 20.9424L22.3987 17.1481L9 17.1481V15.5186L22.3987 15.5186L18.8506 11.7242C18.5531 11.4061 18.5531 10.8902 18.8506 10.572C19.1482 10.2538 19.6306 10.2538 19.9281 10.572Z" fill="black" class="page-advantages__arrow-body"/></svg>

						.__item
							a.__link(href!="<?= URL_ARCHIVE ?>811/")
								dl.__inner
									dt.__subject
										.__icon
											<svg width="30" height="64" viewBox="0 0 30 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.1019 64C20.9982 64 25.7781 62.7689 25.7781 61.2504C25.7781 59.7318 20.9982 58.5007 15.1019 58.5007C9.20566 58.5007 4.42578 59.7318 4.42578 61.2504C4.42578 62.7689 9.20566 64 15.1019 64Z" fill="black" class="page-advantages__icon-fill--black"/><path d="M18.56 47.853C18.56 45.7387 16.8534 44.032 14.739 44.032C12.6246 44.032 10.918 45.7387 10.918 47.853C10.918 49.9674 12.6246 51.6741 14.739 51.6741C16.8534 51.6741 18.56 49.9674 18.56 47.853Z" fill="#FFC600" class="page-advantages__icon-fill"/><path d="M14.7355 53.0963C11.8436 53.0963 9.49219 50.7449 9.49219 47.853C9.49219 44.9612 11.8436 42.6098 14.7355 42.6098C17.6273 42.6098 19.9787 44.9612 19.9787 47.853C19.9787 50.7449 17.6273 53.0963 14.7355 53.0963ZM14.7355 45.4542C13.4175 45.4542 12.3366 46.5256 12.3366 47.853C12.3366 49.1804 13.408 50.2519 14.7355 50.2519C16.0629 50.2519 17.1343 49.1804 17.1343 47.853C17.1343 46.5256 16.0629 45.4542 14.7355 45.4542Z" fill="black" class="page-advantages__icon-fill--black"/><path d="M14.7313 39.5189C12.6643 39.5189 10.275 33.7921 9.75347 25.7044C9.26043 18.0718 9.73451 11.8898 14.7313 11.8898C19.728 11.8898 20.2116 18.0718 19.709 25.7044C19.1876 33.7826 16.7982 39.5189 14.7313 39.5189Z" fill="#FFC600" class="page-advantages__icon-fill"/><path d="M14.7325 40.9411C11.0157 40.9411 8.80654 33.0904 8.33247 25.7992C7.98165 20.3473 8.00062 14.9144 10.5606 12.1838C11.6225 11.046 13.0353 10.4676 14.7325 10.4676C16.4297 10.4676 17.8424 11.046 18.9043 12.1838C21.4643 14.9144 21.4833 20.3378 21.1325 25.7992C20.6584 33.0904 18.4492 40.9411 14.7325 40.9411ZM14.7325 13.3215C13.8222 13.3215 13.1585 13.5775 12.6371 14.1369C10.7787 16.1186 10.9114 21.6368 11.1769 25.619C11.6889 33.5171 13.8697 37.6321 14.742 38.0777C15.6048 37.6226 17.7855 33.5171 18.307 25.619C18.563 21.6368 18.6957 16.1186 16.8468 14.1369C16.3254 13.5775 15.6617 13.3215 14.7514 13.3215H14.7325Z" fill="black" class="page-advantages__icon-fill--black"/><path d="M14.7347 6.40949C13.9478 6.40949 13.3125 5.77423 13.3125 4.98726V1.42222C13.3125 0.63526 13.9478 0 14.7347 0C15.5217 0 16.1569 0.63526 16.1569 1.42222V4.98726C16.1569 5.77423 15.5217 6.40949 14.7347 6.40949Z" fill="black" class="page-advantages__icon-fill--black"/><path d="M3.94667 10.8753C3.58637 10.8753 3.21659 10.7331 2.94163 10.4581L0.419556 7.9455C-0.139852 7.38609 -0.139852 6.48535 0.419556 5.93543C0.978964 5.37602 1.87971 5.37602 2.42963 5.93543L4.95171 8.4575C5.51112 9.01691 5.51112 9.91765 4.95171 10.4676C4.67674 10.7425 4.30697 10.8848 3.94667 10.8848V10.8753Z" fill="black" class="page-advantages__icon-fill--black"/><path d="M25.5183 10.8753C25.158 10.8753 24.7883 10.733 24.5133 10.4581C23.9539 9.89868 23.9539 8.99794 24.5133 8.44801L27.0354 5.92593C27.5948 5.36653 28.4955 5.36653 29.0455 5.92593C29.6049 6.48534 29.6049 7.38608 29.0455 7.93601L26.5234 10.4581C26.2484 10.733 25.8786 10.8753 25.5183 10.8753Z" fill="black" class="page-advantages__icon-fill--black"/></svg>
										h3 イノベーションの基盤
									dd.__desc モノづくりの情熱と気概が広島に育ち、集まり、世の中を変えてきた。<br>チャレンジ精神は今日も脈々と受け継がれています。
									dd.__arrow
										<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17" cy="17" r="16" stroke="black" stroke-width="2" class="page-advantages__arrow-circle"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9281 10.572L24.7768 15.7572C25.0744 16.0754 25.0744 16.5913 24.7768 16.9095L19.9281 22.0947C19.6306 22.4129 19.1482 22.4129 18.8506 22.0947C18.5531 21.7765 18.5531 21.2606 18.8506 20.9424L22.3987 17.1481L9 17.1481V15.5186L22.3987 15.5186L18.8506 11.7242C18.5531 11.4061 18.5531 10.8902 18.8506 10.572C19.1482 10.2538 19.6306 10.2538 19.9281 10.572Z" fill="black" class="page-advantages__arrow-body"/></svg>

						.__item
							a.__link(href!="<?= URL_ARCHIVE ?>722/")
								dl.__inner
									dt.__subject
										.__icon
											<svg width="44" height="48" viewBox="0 0 44 48" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="21.7798" cy="45.1579" rx="16.7368" ry="2.84211" fill="black" class="page-advantages__icon-fill--black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.29307 14.2164V32.8421H22V19H33V32.8421H38.2158V14.2164L21.7544 1.26318L5.29307 14.2164Z" fill="#FFC600" class="page-advantages__icon-fill"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.8739 18.5111C22.1108 18.2742 22.4321 18.1411 22.7671 18.1411L32.1736 18.1411C32.5086 18.1411 32.8299 18.2742 33.0667 18.5111C33.3036 18.748 33.4367 19.0693 33.4367 19.4043L33.4367 31.1318C33.4367 31.8295 32.8712 32.395 32.1736 32.395C31.4759 32.395 30.9104 31.8295 30.9104 31.1318L30.9104 20.6674L24.0302 20.6674L24.0302 31.4983C24.0302 32.196 23.4647 32.7615 22.7671 32.7615C22.0694 32.7615 21.5039 32.196 21.5039 31.4983L21.5039 19.4043C21.5039 19.0693 21.637 18.748 21.8739 18.5111Z" fill="black" class="page-advantages__icon-fill--black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.9748 0.270479C21.4331 -0.0901596 22.0787 -0.0901595 22.5371 0.270479L43.0298 16.3959C43.578 16.8273 43.6727 17.6215 43.2413 18.1697C42.8099 18.7179 42.0158 18.8127 41.4675 18.3813L39.4805 16.8177V34.1053H4.03141V16.8177L2.04434 18.3813C1.49609 18.8127 0.701935 18.7179 0.270532 18.1697C-0.160871 17.6215 -0.0661553 16.8273 0.482086 16.3959L20.9748 0.270479ZM6.55772 14.8297V31.5789H36.9541V14.8297L21.7559 2.87049L6.55772 14.8297Z" fill="black" class="page-advantages__icon-fill--black"/></svg>
										h3 ライフスタイル
									dd.__desc 「家族で住むならこのまちで！」と思わずにはいられない、<br class="is-pc">便利と安心、ゆとりに満ちた魅力的な環境があります。
									dd.__arrow
										<svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="17" cy="17" r="16" stroke="black" stroke-width="2" class="page-advantages__arrow-circle"/><path fill-rule="evenodd" clip-rule="evenodd" d="M19.9281 10.572L24.7768 15.7572C25.0744 16.0754 25.0744 16.5913 24.7768 16.9095L19.9281 22.0947C19.6306 22.4129 19.1482 22.4129 18.8506 22.0947C18.5531 21.7765 18.5531 21.2606 18.8506 20.9424L22.3987 17.1481L9 17.1481V15.5186L22.3987 15.5186L18.8506 11.7242C18.5531 11.4061 18.5531 10.8902 18.8506 10.572C19.1482 10.2538 19.6306 10.2538 19.9281 10.572Z" fill="black" class="page-advantages__arrow-body"/></svg>

:php
	get_footer();
