:php
	get_header();
	$url = get_permalink();
	$text = wp_get_document_title();
	$share_url = urlencode($url);
	$share_text = urlencode($text);

article.page-factory
	.__head
		.page-title
			.__body
				h1.o-heading--xl
					:php the_title();

	.__main
		.__wrapper
			section.l-section
				.l-contents
					.page-factory-point
						.__item
							h2.__heading
								span 広島県内に
								br
								strong.__heading--lg 工場の新設
								br
								span をお考えの
								b.__heading--bold 県外企業さま
						.__item
							h2.__heading
								span 既存
								br
								strong.__heading--lg 工場の拡張
								br
								span をお考えの
								b.__heading--bold 県内企業さま
						.__item
							h2.__heading
								span 工場内に
								br
								strong.__heading--lg 新設備の導入
								br
								span をお考えの
								b.__heading--bold 県内企業さま
						.__item
							h2.__heading
								span 広島県内に
								br
								strong.__heading--lg 研究開発拠点の新設
								br
								span をお考えの
								b.__heading--bold 県内外企業さま

			section.page-factory-support.l-section
				.__contents.l-contents
					.page-factory-support-intro
						h2.__heading 広島県は、<br class="is-sp">このような企業さまに向けて<br>様々なサポート（助成金）をご用意しています。
						.__inner
							ol.__list
								li.__item 健康・医療産業
								li.__item 環境・エネルギー産業
								li.__item 航空機産業
								li.__item AI、IoT、ロボット化
							h3.__desc など、成長産業や先端産業の場合は、特にサポートが手厚くなっています。

				.__contents.l-contents
					h3.__heading--sm 設備投資に関するサポート
					.__head
						dl.__category
							dt.__category-main 助成対象
							dd.__category-sub 建物・施設
						dl.__category
							dt.__category-main 対象地域
							dd.__category-sub 広島県内全域
					.__wrapper
						table.page-factory-support-table
							thead.__head
								tr
									td.__head-main 区分
									td.__head-main 対象者の条件
									td.__head-main 助成率
									td.__head-main 限度額
							tbody.__body
								tr
									th.__body-main 先端・成長<br>産業集積<br>助成
									td.__body-sub
										ol.__list
											li.__item 健康・医療、環境・エネルギー及び航空機産業等の先端・成長分野に関する製品の製造のための設備投資で、要綱に定めるもの(※1)
											li.__item 新規雇用常用労働者10人以上<br>但し「健康・医療、環境・エネルギー及び航空機産業」分野の場合は雇用維持
									td.__body-sub
										p.__desc 【県内初立地】(※4)<br>固定資産税評価額×15%
										p.__desc 【県内既立地】<br>固定資産税評価額×10%
									td.__body-sub 35億円
								tr
									th.__body-main 先端・成長<br>研究開発<br>集積助成
									td.__body-sub
										ol.__list
											li.__item 健康・医療、環境・エネルギー及び航空機産業等の先端・成長分野に関する製品の製造のための設備投資で、要綱に定めるもの(※1)
											li.__item 研究開発または研究開発から量産に係る一連の投資に限る
											li.__item 投資額1000億円以上(土地を除く。)
											li.__item 新規雇用常用労働者100人以上
									td.__body-sub
										p.__desc 【県内初立地】(※4)<br>固定資産税評価額×15%
										p.__desc 【県内既立地】<br>固定資産税評価額×10%
									td.__body-sub 50億円
								tr
									th.__body-main 大規模<br>産業集積<br>助成
									td.__body-sub
										ol.__list
											li.__item 製造業、運輸業、サービス業等のうち要綱に定めるもの(※2)(特例措置あり)
											li.__item AI、IoT、ロボット化(生産性向上)に係る生産設備等への投資又は付加価値の向上が認められるもの
											li.__item 大企業:投資額50億円以上(土地を除く。)
											li.__item 中小企業:投資額10億円以上(土地を除く。)(※3)
											li.__item 雇用維持
									td.__body-sub
										p.__desc 【県内初立地】(※4)<br>固定資産税評価額×15%
										p.__desc 【県内既立地】<br>固定資産税評価額× 5%
									td.__body-sub 10億円
								tr
									th.__body-main 産業集積<br>助成
									td.__body-sub
										ol.__list
											li.__item 製造業、運輸業、サービス業等のうち要綱に定めるもの(※2)(特例措置あり)
											li.__item 大企業:投資額50億円未満(土地を除く。)
											li.__item 中小企業:投資額10億円未満(土地を除く。)(※3)
											li.__item 新規雇用常用労働者5人以上<br>但し中山間地域は雇用維持
											li.__item AI、IoT、ロボット化(生産性向上)に係る生産設備等への投資又は付加価値の向上が認められる投資は雇用維持
									td.__body-sub
										p.__desc 【県内初立地】(※4)<br>固定資産税評価額×10%
										p.__desc 【県内既立地】<br>固定資産税評価額× 2%
									td.__body-sub 1億円
								tr
									th.__body-main 地域活力<br>再生支援<br>助成
									td.__body-sub
										ol.__list
											li.__item 製造業、運輸業、サービス業等のうち要綱に 定めるもの(※2)(特例措置あり)
											li.__item 従業員500人以上の事業所の休止・閉鎖が公表された場合に、当該事業所内に事業所を有する企業又は当該事業所に関する受注取引額が全体の10%以上の企業が、県内で生産設備等へ投資する場合
											li.__item 雇用要件なし
									td.__body-sub
										p.__desc 固定資産税評価額×15%
									td.__body-sub 1億円

				.__contents.l-contents
					h4.__heading--xs 上記に加えて、<br>研究開発に関する設備投資をお考えの企業さまには、<br>こんなサポートもご用意しています。
					.__head
						dl.__category
							dt.__category-main 助成対象
							dd.__category-sub 建物・施設・人材
						dl.__category
							dt.__category-main 対象地域
							dd.__category-sub 広島県内全域
					.__wrapper
						table.page-factory-support-table
							thead.__head
								tr
									td.__head-main 区分
									td.__head-main 対象者の条件
									td.__head-main 助成率
									td.__head-main 限度額
							tbody.__body
								tr
									th.__body-main(rowspan="2") 研究開発<br>機能拠点化<br>助成
									td.__body-sub
										ol.__list
											li.__item 製造業、運輸業、サービス業等のうち要綱に定めるもの (※1)(特例措置あり)
											li.__item 研究開発部門を広島県内に新設した場合、もしくは企業が出資し、研究開発型の子会社(社内ベンチャー企業等)を広島県内に新設した場合
											li.__item 常用雇用の研究開発者の異動(住民票を県内に異動し1年以上継続)、または新規雇用の研究開発者を合わせて3人以上とし、移転先の事業所等の従業員数が3人以上増加する場合。(国内初立地(※4)の外国企業の場合、1人)
											li.__item 一社一回限り
									td.__body-sub
										ol.__list
											li.__item 県外から異動となる研究開発者または新規雇 用の研究開発者1人当たり100万円(※5)(県外から異動となる研究開発者の家族を含む)
											li.__item 人材確保経費(人材紹介手数料,外国人研究者採用経費など)の1/2・初期コストの1/2(中山間地域は2/3)
									td.__body-sub 合わせて<br>1億円
								tr
									td.__body-sub
										ol.__list
											li.__item 研究開発機能拠点化助成の対象で、企業にとって県内初の研究開発機能拠点となり、県内の大学(高等専門学校含む)、公設試、企業と、共同研究を行う場合、研究開発に係る費用(研究開発費、コンサル料、旅費等)を助成。
											li.__item 研究開発または研究開発から量産に係る一連の投資に限る
											li.__item 投資額1000億円以上(土地を除く。)
											li.__item 新規雇用常用労働者100人以上
									td.__body-sub
										ol.__list
											li.__item 研究関連費の1/2
									td.__body-sub 研究関連費<br>(3年間)<br>500万円/年
					.__foot
						h4.__heading--xs 県営産業団地等の購入を<br class="is-sp">お考えの企業さまに向けて<br>こんなサポートも！

				.__contents.l-contents
					h3.__heading--sm 県営産業団地等を購入する場合のサポート
					.__wrapper
						table.page-factory-support-table
							thead.__head
								tr
									td.__head-main 区分
									td.__head-main 対象者の条件
									td.__head-main 助成率
									td.__head-main 限度額
							tbody.__body
								tr
									th.__body-main 県営産業<br>団地等立地<br>助成
									td.__body-sub
										ol.__list
											li.__item 製造、販売、試験研究、サービス業等
									td.__body-sub
										p.__desc 土地売買金額 ×25~40% (※5)
									td.__body-sub なし

			section.page-factory-outro.l-section
				.__contents.l-contents
					h2.__heading 企業さまとのヒアリングを通じて<br>条件に合ったサポート内容を<br class="is-sp">ご案内しております。<br>まずは、お気軽にご相談ください。
					a.__btn(href!="<?= URL_CONTACT ?>") 相談してみる

		//- section.l-section.l-section--bnr
			.l-contents
				.o-bnr__one-column
					a.o-bnr__link(href="")
						picture.o-bnr__picture
							source(media="(max-width: 768px)" srcset!="<?= URL_TEMP_IMAGES ?>page-factory-bnr-01.png")
							img(src!="<?= URL_TEMP_IMAGES ?>page-factory-bnr-01.png")
					a.o-bnr__link(href="")
						picture.o-bnr__picture
							source(media="(max-width: 768px)" srcset!="<?= URL_TEMP_IMAGES ?>page-factory-bnr-02.png")
							img(src!="<?= URL_TEMP_IMAGES ?>page-factory-bnr-02.png")


:php
	get_footer();
