:php
	get_header();
	$url = get_permalink();
	$text = wp_get_document_title();
	$share_url = urlencode($url);
	$share_text = urlencode($text);

article.page-other
	.page-other__head
		.page-title
			.__body
				h1.o-heading--xl
					:php the_title();

	.page-other__main
		section.l-section
			.l-contents
				p.m-lead-intro 「クルクル.広島」（以下「本サイト」という。）」を通じて広島県が提供を受けた個人情報については、「広島県個人情報保護条例」に基づき、次のとおり適切に取り扱います。

				dl.l-block
					dt.m-heading-square 個人情報とは
					dd.o-desc 住所、氏名、電話番号、電子メールアドレス等、個人に関する情報であって、特定の個人が識別できる（誰の情報かが分かる）ものをいいます。

				dl.l-block
					dt.m-heading-square 個人情報の収集について
					dd.o-desc 本サイトを通じて広島県が個人情報を収集する際は、利用者ご本人の意思による情報の提供を原則とします。また、次に掲げる目的を達成するために収集します。
					dd.__inner.o-desc
						p.u-font-bold ＜収集目的＞
						ol.o-list
							li.__item メールマガジン・イベント情報・各種お知らせ等の配信・送付
							li.__item 属性情報・端末情報・位置情報・行動履歴等に基づく広告・コンテンツ等の配信・表示
							li.__item コンテンツ改善・新コンテンツの開発およびマーケティング
							li.__item キャンペーン・アンケート・モニター・取材等の実施
							li.__item 本サイトに関するご意見、お問い合わせ内容等の確認・回答


				dl.l-block
					dt.m-heading-square 個人情報の利用・提供について
					dd.o-desc 利用者の皆様から提供いただいた個人情報は、上記＜収集目的＞で明示した範囲内でご本人の同意がある場合など、個人情報保護条例で定める一定の場合を除き、個人情報の収集目的を越えた利用や業務委託先以外の第三者に提供その他はいたしません。

				dl.l-block
					dt.m-heading-square 個人情報の管理について
					dd.o-desc 利用者の皆様から収集した個人情報は、適正に管理し、漏えい、不正流用、改ざん等の防止に適切な対策を講じます。保有する必要がなくなった個人情報は、確実に、かつ、速やかに消去します。
					dd.o-desc また、個人情報には当たりませんが、本サイトでは、インターネットドメイン名、IPアドレス、当サイトの閲覧等の情報を自動的に収集します。なお、Cookie(クッキー：サーバー側で利用者を識別するために、サーバーから利用者のブラウザに送信され、利用者のコンピューターに蓄積される情報）は、アクセス件数の正確な把握及びブラウザ表示機能の利便性向上等に利用することがあります。
					dd.o-desc また、サイトの利用状況を把握するためにGoogle Analyticsを利用しています。Google Analyticsは、Cookieを利用して利用者の情報を収集します。詳細については、「Googleのサービスを使用するサイトやアプリから収集した情報のGoogleによる使用」をご覧ください。

				dl.l-block
					dt.m-heading-square SNSの利用者のみなさまへの留意事項
					dd.o-desc 一部のソーシャルネットワーキングサービス（SNS）は、当該SNSの「ボタン」等が設置されたウェブサイトを閲覧した場合、当該「ボタン」等を押さなくとも、当該ウェブサイトからSNSに対し、ユーザーID・アクセスしているサイト等の情報が自動で送信されていることがあります。詳しくは「SNSの利用者のみなさまへの留意事項」（<a class="o-anchor" href="https://www.ppc.go.jp/news/careful_information/sns_button_life/" target="_blank">個人情報保護委員会ホームページ</a>）をご覧ください。
					dd.o-desc なお、当サイトで利用している他のソーシャルメディア等のサービスのプライバシーポリシー等は、各事業者のサイト等でご確認ください。
					dd.o-desc
						span.u-font-bold 【参考】<br>
						| ##Facebookのいいね！ボタン（Facebookのソーシャルプラグイン）については、Facebook社によるデータに関するポリシー（<a class="o-anchor" href="https://www.facebook.com/privacy/policy/?entry_point=data_policy_redirect&entry=0" target="_blank">Facebook社ホームページ</a>）参照。<br>##Twitterのツイートボタン（Twitterボタン）については、Twitter社によるプライバシーポリシー（<a class="o-anchor" href="https://twitter.com/privacy?lang=ja#update" target="_blank">Twitter社ホームページ</a>）参照。<br>##LINEのLINEで送るボタン（LINEのプラグイン）については、LINE社によるプライバシーポリシー（<a class="o-anchor" href="https://line.me/ja/terms/policy/" target="_blank">LINE社ホームページ</a>）参照。<br>##YouTubeの動画埋め込みコード及びGoogle＋については、Google社によるプライバシーポリシー（<a class="o-anchor" href="https://policies.google.com/privacy?hl=ja&gl=jp" target="_blank">Google社ホームページ</a>）参照。




:php
	get_footer();
