.page-factory {
	@include font-noto-sans-jp(regular);

	font-size: 16px;
	letter-spacing: 0.06em;
	line-height: 2;
	color: $black;

	@include sp {
		font-size: 15px;
	}
}

.page-factory__main {
	position: relative;
}

.page-factory__wrapper {
	background-color: $bg-secondary;
	position: relative;
	padding: 104px 0 0;

	@include sp {
		padding: 48px 0 0;
	}

	&::after {
		@include pc {
			content: "";
			background-color: $bg-secondary;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: -50%;
			z-index: -2;
		}
	}
}
