.page-factory-outro {
	background-color: $main;
	position: relative;
	padding: 120px 0 80px;
	text-align: center;

	@include sp {
		margin: 60px 0;
		padding: 60px 0 50px;
	}

	&::after {
		@include pc {
			content: "";
			background-color: $main;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: -50%;
			z-index: -1;
		}
	}
}

.page-factory-outro__heading {
	@include font-noto-sans-jp(bold);
	@include line-height(42, 24);

	font-size: 24px;
	letter-spacing: 0.06em;

	@include sp {
		font-size: 18px;
	}
}

.page-factory-outro__btn {
	@include font-noto-sans-jp(bold);

	font-size: 24px;
	letter-spacing: 0.06em;
	line-height: 104px;
	border: 2px solid $black;
	background-color: $black;
	color: $white;
	max-width: 840px;
	margin: 48px auto 0;
	display: block;
	border-radius: 52px;
	transition: $hover;

	@include hover {
		border-color: $main;
		background-color: $white;
		color: $black;
	}

	@include sp {
		font-size: 18px;
		line-height: 70px;
		margin: 32px auto 0;
		border-radius: 35px;
	}
}
