.page-about {
	@include font-noto-sans-jp(regular);

	font-size: 16px;
	letter-spacing: 0.06em;
	line-height: 2;
	color: $black;

	@include sp {
		font-size: 15px;
	}
}

.page-about__body {
	position: relative;
	padding: 104px 0 0;

	@include sp {
		padding: 48px 0 0;
	}
}

.page-about__section {
	&:nth-of-type(n+2) {
		margin: 166px 0 0;

		@include sp {
			margin: 80px 0 0;
		}
	}
}

.page-about__intro {
	@include font-noto-sans-jp(bold);
	@include line-height(39, 24);

	font-size: 24px;
	letter-spacing: 0.06em;
	color: $black;
	margin: 0 0 80px;

	@include sp {
		font-size: 18px;
		margin: 0 0 48px;
	}
}

.page-about-message {
	@include pc {
		display: grid;
		grid-template-columns: 29% 67%;
		gap: 4%;
		align-items: flex-start;
	}
}

.page-about-message__picture {
	position: relative;
	aspect-ratio: 300 / 450;
	clip-path: inset(0 round 20px);

	@include sp {
		margin: 0 auto 24px;
		aspect-ratio: 4 / 3;
	}
}

.page-about-message__picture-body {
	object-position: 50% 20%;
}

.page-about-message__desc {
	&:nth-of-type(n+2) {
		margin: 2em 0 0;
	}
}

.page-about-main {
	@include pc {
		display: grid;
		grid-template-columns: 360px calc(96% - 360px);
		gap: 4%;
		align-items: flex-start;
	}
}

.page-about-main__picture {
	position: relative;
	margin: 5px auto 0;

	@include sp {
		margin: 0 auto 24px;
	}
}

.page-about-message__sign {
	margin: 20px 0 0;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.page-about-message__sign-text {
	@include font-noto-sans-jp(bold);

	margin: 0 1em 0 0;
	font-size: 0.9em;
}
