.article-quote {
	background-color: $bg;
	padding: 60px 7.143%;
	border-radius: 20px;

	@include sp {
		padding: 60px 8.955%;
	}
}

.article-quote__body {
	position: relative;
	padding: 48px 0;

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 28px;
		height: 22px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	&::before {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 22"><path d="M0 11H10C11.1046 11 12 11.8954 12 13V16.5C12 19.5376 9.53757 22 6.5 22H4C1.79086 22 0 20.2091 0 18V11Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M5.65178 9.57547C5.64587 10.1089 5.64587 11.1037 5.65178 11.6505L0.0135251 15C-3.55744e-05 13.7012 9.02501e-10 11.5444 9.70225e-10 9.83549C1.03938e-09 8.09058 0.220111 6.84804 0.854299 5.46837C1.48849 4.0887 2.45079 2.874 3.66252 1.92357C4.87426 0.973152 6.30102 0.313996 7.82616 0L9 5.34904C8.34637 5.48361 7.7349 5.7661 7.21559 6.17343C6.69627 6.58075 6.28386 7.10134 6.01206 7.69262C5.74027 8.28391 5.65769 9.04201 5.65178 9.57547Z" fill="%23ffc600"/><path d="M16 11H26C27.1046 11 28 11.8954 28 13V16.5C28 19.5376 25.5376 22 22.5 22H20C17.7909 22 16 20.2091 16 18V11Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M21.6518 9.57547C21.6459 10.1089 21.6459 11.1037 21.6518 11.6505L16.0135 15C16 13.7012 16 11.5444 16 9.83549C16 8.09058 16.2201 6.84804 16.8543 5.46837C17.4885 4.0887 18.4508 2.874 19.6625 1.92357C20.8743 0.973152 22.301 0.313996 23.8262 0L25 5.34904C24.3464 5.48361 23.7349 5.7661 23.2156 6.17343C22.6963 6.58075 22.2839 7.10134 22.0121 7.69262C21.7403 8.28391 21.6577 9.04201 21.6518 9.57547Z" fill="%23ffc600"/></svg>');
		top: 0;
		left: 0;
	}

	&::after {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 22"><path d="M28 11L18 11C16.8954 11 16 10.1046 16 9L16 5.5C16 2.46243 18.4624 -8.33801e-07 21.5 -5.68248e-07L26 -1.74846e-07C27.1046 -7.8281e-08 28 0.895431 28 2L28 11Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.3482 12.4245C22.3541 11.8911 22.3541 10.8963 22.3482 10.3495L27.9865 7C28 8.29878 28 10.4556 28 12.1645C28 13.9094 27.7799 15.152 27.1457 16.5316C26.5115 17.9113 25.5492 19.126 24.3375 20.0764C23.1257 21.0268 21.699 21.686 20.1738 22L19 16.651C19.6536 16.5164 20.2651 16.2339 20.7844 15.8266C21.3037 15.4192 21.7161 14.8987 21.9879 14.3074C22.2597 13.7161 22.3423 12.958 22.3482 12.4245Z" fill="%23ffc600"/><path d="M12 11L2 11C0.895431 11 7.8281e-08 10.1046 1.74846e-07 9L4.80825e-07 5.5C7.46378e-07 2.46243 2.46243 -8.33801e-07 5.5 -5.68248e-07L10 -1.74846e-07C11.1046 -7.8281e-08 12 0.895431 12 2L12 11Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M6.34822 12.4245C6.35413 11.8911 6.35413 10.8963 6.34822 10.3495L11.9865 7C12 8.29878 12 10.4556 12 12.1645C12 13.9094 11.7799 15.152 11.1457 16.5316C10.5115 17.9113 9.54921 19.126 8.33748 20.0764C7.12574 21.0268 5.69898 21.686 4.17384 22L3 16.651C3.65363 16.5164 4.2651 16.2339 4.78441 15.8266C5.30373 15.4192 5.71614 14.8987 5.98794 14.3074C6.25973 13.7161 6.34231 12.958 6.34822 12.4245Z" fill="%23ffc600"/></svg>');
		bottom: 0;
		right: 0;
	}
}

.article-quote__source {
	margin: 24px 0 0;
	text-align: right;
	color: #767676;
	font-size: 15px;

	@include sp {
		text-align: left;
	}
}

.article-quote__link {
	margin: 0 0 0 1em;
	color: #767676;
	text-decoration: underline;
	overflow-wrap: break-word;
	word-break: break-word;

	@include sp {
		margin: 0;
	}
}
