.article-interview__head {
	margin: 0 0 72px;
	position: relative;

	@include sp {
		margin: 0 0 40px;
	}

	&::before {
		content: "";
		position: absolute;
		top: 17px;
		left: 0;
		width: 9%;
		height: 1px;
		background-color: $black;

		@include sp {
			width: 11%;
		}
	}
}

.article-interview__main-text {
	@include font-noto-sans-jp(medium);

	font-size: 20px;
	letter-spacing: 0.06em;

	@include line-height(30, 20);

	padding: 0 0 0 14%;

	@include sp {
		font-size: 18px;
	}
}

.article-interview__sub-text {
	margin: 56px 0 0;
	padding: 0 0 0 14%;

	@include sp {
		margin: 40px 0 0;
	}
}

.article-interview__talk {
	display: grid;
	grid-template-columns: 10% 86%;
	gap: 4%;

	@include sp {
		grid-template-columns: 24% 70%;
		gap: 6%;
	}

	& + & {
		margin: 56px 0 0;

		@include sp {
			margin: 40px 0 0;
		}
	}
}
