.article-mv {
	position: relative;
	margin: 0 auto 80px;

	@include sp {
		margin: 0 auto 48px;
	}
}

.article-mv__picture {
	width: 100%;
	aspect-ratio: 1.91 / 1;
	position: relative;
}

.article-mv__main {
	width: 100%;
	background-color: #fede4d;
	padding: 40px 11.818%;
	border-radius: 0 0 0 12.364vw;
	position: relative;
	overflow: hidden;
	z-index: 1;

	@include sp {
		$v: vw(10, sp);
		$v2: vw(30, sp);
		$v3: vw(80, sp);
		$v4: vw(120, sp);

		padding: 40px $v2;
		border-radius: 0 0 0 $v4;
	}
}

.article-mv__head {
	display: flex;
	align-items: center;
	margin: 0 0 24px;
}

.article-mv__circle {
	position: absolute;
	top: 0;
	right: -7.257vw;
	width: 14.514vw;
	height: 200%;
	border-radius: 100vh;
	background-color: #fee366;

	@include sp {
		$v: vw(160, sp);
		$v2: vw(80, sp);

		width: $v;
		right: -$v2;
	}
}

.article-mv__contents {
	position: relative;
	z-index: 1;
}

.article-mv__category {
	@include font-noto-sans-jp(medium);

	border: 1px solid $black;
	background-color: $white;
	border-radius: 8px;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.06em;
	padding: 1em;
	display: inline-block;

	&::before {
		content: "";
		margin: 0 4px 0 0;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: $main;
		display: inline-block;
		position: relative;
		top: 2px;
	}
}

.article-mv__heading {
	font-size: 32px;
	letter-spacing: 0.06em;

	@include sp {
		font-size: 24px;

		br {
			display: none;
		}
	}
}

.article-mv__date {
	color: $black;
	margin: 0 0 0 24px;
}

.article-mv__tag-list {
	margin: 24px 0 0;
	justify-content: flex-end;
}

.article-mv__tag-link {
	color: $black;
}

// 1.389vw
