.article-writer {
	background-color: $main-light;
	border-radius: 20px;
	padding: 60px 7.143%;

	@include sp {
		padding: 48px 8.955%;
	}
}

.article-writer__heading {
	@include font-noto-sans-jp(bold);

	font-size: 20px;
	line-height: 1;
	margin: 0 0 40px;
	color: $black;
}
