.article-tool {
	@include pc {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.article-tool__good-area {
	display: grid;
	grid-template-columns: repeat(2, max-content);
	gap: 8px;
	align-items: center;
}

.article-tool__good-icon {
	position: relative;
}

.article-tool__good-num {
	@include font-noto-sans-jp(bold);

	font-size: 20px;
	letter-spacing: 0.06em;
	line-height: 1;
	color: #767676;
}

.article-tool__btn-area {
	align-items: center;

	@include pc {
		display: grid;
		grid-template-columns: repeat(2, max-content);
		gap: 24px;
	}

	@include sp {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 32px auto 0;
	}
}

.article-tool__sns-area {
	display: grid;
	grid-template-columns: repeat(3, max-content);
	gap: 24px;
	align-items: center;
}

.article-tool__sns {
	display: block;
}
