.article-index {
	background-color: $bg;
	border-radius: 10px;
	padding: 60px 7.143%;

	@include sp {
		$v: vw(30, sp);

		padding: 48px $v;
	}
}

.article-index__title {
	@include font-noto-sans-jp(medium);

	font-size: 18px;
	line-height: 1;
	margin: 0 0 20px;
	color: $black;
}

.article-index__link {
	color: #666;
	border-bottom: 1px solid #aaa;
	padding: 20px 0;
	display: block;
	transition: $hover;
	position: relative;

	@include hover {
		color: $black;
		border-bottom-color: $black;

		.article-index__icon {
			opacity: 1;
		}
	}
}

.article-index__icon {
	position: absolute;
	top: 32px;
	right: 0;
	transition: $hover;
	opacity: 0;
}
