.header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	$p: rem(31);

	padding-left: $p;
	width: 100vw;
	height: 70px;
	z-index: 3;
	background-color: $white;
}

.header__logo {
	$w: rem(172);

	width: 172px;
}

.header__contents {
	display: flex;
	align-items: center;
	height: 100%;
}

.header-nav__list {
	display: flex;
}

.header-nav__link {
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: $white;

	$pt: rem(13);
	$ps: rem(23);
	$pb: rem(17);

	padding: $pt $ps $pb;

	&--cart {
		background-color: $black-light;
		padding: 0;
		width: 70px;
	}

	&--online {
		background-color: $green-light;
	}
}

.header-nav__sub {
	@include font-noto-serif-jp(semi);

	$f: rem(10);

	font-size: $f;
	line-height: 1;
	color: $green;
	display: block;
}

.header-nav__main {
	@include font-zen-kaku-gothic-new(medium);

	$f: rem(14);

	font-size: $f;
	line-height: 1;
	color: $border;
	display: block;
	margin-top: 0.5em;
}
