.footer {
	background-color: $white;
}

.footer-primary {
	$p: rem(56);

	padding-bottom: $p;
}

.footer__contents {
	display: flex;
	justify-content: space-between;
}

.footer__logo {
	$w: rem(242);

	width: $w;
}

.footer-info__list {
	$m: rem(34);

	margin-top: $m;
}

.footer-info__item {
	@include font-noto-sans-jp(regular);
	@include line-height(25, 15);

	$f: rem(15);

	font-size: $f;
	color: $black;
	letter-spacing: 0.1em;
}

.footer-map {
	display: flex;

	$m: rem(32);

	margin-top: $m;
	margin-left: $m;
}

.footer-nav {
	$m: rem(32);

	margin-right: $m;
}

.footer-nav__item {
	line-height: 1;

	&:nth-of-type(n+2) {
		$m: rem(24);

		margin-top: $m;
	}
}

.footer-nav__link {
	@include font-noto-sans-jp(regular);

	$f: rem(15);

	font-size: $f;
	color: $black;
	line-height: 1;
	letter-spacing: 0.03em;
}

.footer-sns {
	$m: rem(27);

	margin-top: $m;
}

.footer-sns__link {
	&:nth-of-type(n+2) {
		margin-left: 1rem;
	}
}

.footer-secondary {
	background-color: $green-light;

	$p: rem(22);

	padding: $p 0;
}

.footer-secondary-nav {
	display: flex;
	align-items: center;
}

.footer-secondary-nav__item {
	line-height: 1;

	&:nth-of-type(n+2) {
		$m: rem(42);

		margin-left: $m;
	}
}

.footer-secondary-nav__link {
	@include font-noto-sans-jp(regular);

	$f: rem(12);

	font-size: $f;
	color: $white;
	line-height: 1;
}

.footer__copyright {
	@include font-noto-sans-jp(regular);

	$f: rem(12);

	font-size: $f;
	color: $white;
	line-height: 1;
}
