.page-top {
	position: sticky;
	bottom: 20px;
	left: calc(100vw - 62px);
	z-index: 10;
	opacity: 0;
	transform: translateY(50%);
	transition: $hover;
	margin: 50px 0 0;
	width: 46px;
	height: 42px;
	cursor: pointer;

	@include sp {
		margin: 37px auto 0;
	}

	&.is-show {
		opacity: 1;
		transform: translateY(0%);
	}
}

.page-top__body {
	width: 46px;
	height: 42px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	position: relative;

	&::after {
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 23px 42px;
		border-color: transparent transparent $main;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.page-top__text {
	@include font-noto-sans-jp(bold);

	font-size: 11px;
	line-height: 1;
	color: $white;
	position: relative;
	z-index: 2;
	padding: 0 0 7px;
}
