.archive-filter__head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.archive-filter__body {
	&.is-show {
		margin: 58px 0 0;
	}
}

.archive-filter__subject {
	display: flex;
	align-items: center;
	width: calc(100% - 48px);
}

.archive-filter__subject-icon {
	position: relative;
	top: 2px;
}

.archive-filter__subject-line {
	border-top: 1px dashed #767676;
	flex-grow: 1;
	margin: 0 0 0 24px;
}

.archive-filter__block {
	& + & {
		margin: 40px 0 0;
	}
}

.archive-filter__list {
	display: flex;
	justify-content: space-between;

	@include sp {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 8px 5px;

		.o-card-link--sp-full {
			grid-area: 1 / 1 / 2 / 3;
		}

		.o-card-link--sm {
			&:nth-of-type(2) {
				grid-area: 2 / 1 / 3 / 2;
			}

			&:nth-of-type(3) {
				grid-area: 2 / 2 / 3 / 3;
			}

			&:nth-of-type(4) {
				grid-area: 3 / 1 / 4 / 2;
			}

			&:nth-of-type(5) {
				grid-area: 3 / 2 / 4 / 3;
			}
		}
	}
}

.archive-filter__link {
	&--lg {
		@include pc {
			padding: 1.14em 2.4vw;
		}
	}
}

.archive-filter__two-column {
	display: flex;

	@include mq-max(hd) {
		display: grid;
		grid-template-columns: 1fr;
		gap: 24px;
	}
}

.archive-filter__one-column {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0;
}

.archive-filter__column {
	@include sp {
		display: grid;
		grid-template-columns: 35% 60%;
		gap: 5%;
	}

	&:nth-of-type(2n) {
		@include mq-min(hd) {
			margin: 0 0 0 38px;
		}
	}
}

.archive-filter__btn-group {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -4px;
}

.archive-filter__btn {
	margin: 0 4px 8px;
}

.archive-filter-sub-category {
	display: flex;
	flex-wrap: wrap;
}

.archive-filter-sub-category__item {
	margin: 24px 24px 0 0;

	@include sp {
		margin: 16px 24px 0 0;
	}
}

.archive-filter-sub-category__link {
	@include font-noto-sans-jp(regular);

	font-size: 14px;
	line-height: 1;
	color: $black;
	position: relative;
	letter-spacing: 0.12em;
	padding: 0 0 0 17px;
	display: inline-block;
	transition: $hover;

	&::before {
		content: "";
		background-color: $main;
		width: 8px;
		height: 4px;
		position: absolute;
		top: 5px;
		left: 0;
		border-radius: 2em;
	}

	&::after {
		content: "";
		bottom: -5px;
		left: 17px;
		width: 0;
		height: 2px;
		background-color: $black;
		position: absolute;
		transition: $hover;
	}

	@include hover {
		@include font-noto-sans-jp(bold);

		&::after {
			width: calc(100% - 17px);
		}
	}

	&.is-current {
		@include font-noto-sans-jp(bold);
	}
}
