.page-support-index {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;

	@include sp {
		grid-template-columns: 1fr;
	}
}

.page-support-index__picture {
	background-color: $main;
	border-radius: 20px;
	aspect-ratio: 500 / 274;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0 0 32px;

	@include sp {
		border-radius: 10px;
		margin: 0 0 24px;
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		background-color: $white;
		width: 220px;
		height: 220px;
		border-radius: 50%;

		@include sp {
			width: 150px;
			height: 150px;
		}
	}
}

.page-support-index__picture-body {
	position: relative;
	z-index: 1;

	@include sp {
		transform: scale(0.7);
	}
}

.page-support-index__heading {
	@include font-noto-sans-jp(medium);

	font-size: 24px;
	letter-spacing: 0.06em;
	line-height: 1;
	color: $black;
	margin: 0 0 1em;

	@include sp {
		font-size: 20px;
	}
}

.page-support-index__btn {
	margin: 32px 0 0;
	padding: 0 24px;

	@include sp {
		margin: 24px 0 0;
	}
}
