.page-not-found {
	text-align: center;
	padding: 84px 0 0;

	@include sp {
		padding: 0;
	}
}

.page-not-found__head-main {
	@include font-noto-sans-jp(bold);

	font-size: 80px;
	letter-spacing: 0.06em;
	line-height: 1;
	color: $black;
}

.page-not-found__head-sub {
	@include font-noto-sans-jp(bold);

	font-size: 24px;
	letter-spacing: 0.06em;
	line-height: 1;
	color: $main;
	margin: 36px 0 0;

	@include sp {
		margin: 20px 0 0;
	}
}

.page-not-found__body {
	margin: 64px auto 0;

	@include sp {
		margin: 60px auto 0;
	}
}

.page-not-found__title {
	@include font-noto-sans-jp(bold);

	font-size: 24px;
	letter-spacing: 0.06em;
	line-height: 1;
	color: $black;
	margin: 0 0 32px;

	@include sp {
		line-height: 1.5;
		margin: 0 0 20px;
	}
}

.page-not-found__btn {
	margin: 80px auto 0;

	@include sp {
		margin: 60px auto 0;
	}
}
