.content-start {
	align-items: flex-start;
	justify-content: flex-start;
}

.content-center {
	align-items: center;
	justify-content: center;
}

.content-end {
	align-items: flex-end;
	justify-content: flex-end;
}

.content-x-center {
	justify-content: center;
}

.content-x-start {
	justify-content: flex-start;
}

.content-x-end {
	justify-content: flex-end;
}

.content-x-between {
	justify-content: space-between;
}

.content-x-around {
	justify-content: space-around;
}

.content-x-evenly {
	justify-content: space-evenly;
}

.content-y-center {
	align-items: center;
}

.content-y-start {
	align-items: flex-start;
}

.content-y-end {
	align-items: flex-end;
}

.content-y-baseline {
	align-items: baseline;
}

.content-y-stretch {
	align-items: stretch;
}

// contents layout
.cl-start {
	align-items: flex-start;
	justify-content: flex-start;
}

.cl-center {
	align-items: center;
	justify-content: center;
}

.cl-end {
	align-items: flex-end;
	justify-content: flex-end;
}

.cl-x-center {
	justify-content: center;
}

.cl-x-start {
	justify-content: flex-start;
}

.cl-x-end {
	justify-content: flex-end;
}

.cl-x-between {
	justify-content: space-between;
}

.cl-x-around {
	justify-content: space-around;
}

.cl-x-evenly {
	justify-content: space-evenly;
}

.cl-y-center {
	align-items: center;
}

.cl-y-start {
	align-items: flex-start;
}

.cl-y-end {
	align-items: flex-end;
}

.cl-y-baseline {
	align-items: baseline;
}

.cl-y-stretch {
	align-items: stretch;
}

.cl-s {
	align-items: flex-start;
	justify-content: flex-start;
}

.cl-c {
	align-items: center;
	justify-content: center;
}

.cl-e {
	align-items: flex-end;
	justify-content: flex-end;
}

.cl-xc {
	justify-content: center;
}

.cl-xs {
	justify-content: flex-start;
}

.cl-xe {
	justify-content: flex-end;
}

.cl-xsb {
	justify-content: space-between;
}

.cl-xsa {
	justify-content: space-around;
}

.cl-xse {
	justify-content: space-evenly;
}

.cl-yc {
	align-items: center;
}

.cl-yfs {
	align-items: flex-start;
}

.cl-yfe {
	align-items: flex-end;
}

.cl-yb {
	align-items: baseline;
}

.cl-ys {
	align-items: stretch;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.justify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.j-center {
	j-content: center;
}

.j-start {
	j-content: flex-start;
}

.j-end {
	j-content: flex-end;
}

.j-between {
	j-content: space-between;
}

.j-around {
	j-content: space-around;
}

.j-evenly {
	j-content: space-evenly;
}

.j-c {
	justify-content: center;
}

.j-s {
	justify-content: flex-start;
}

.j-e {
	justify-content: flex-end;
}

.j-sb {
	justify-content: space-between;
}

.j-sa {
	justify-content: space-around;
}

.j-se {
	justify-content: space-evenly;
}

.items-center {
	align-items: center;
}

.items-start {
	align-items: flex-start;
}

.items-end {
	align-items: flex-end;
}

.items-baseline {
	align-items: baseline;
}

.items-stretch {
	align-items: stretch;
}

.i-center {
	align-i: center;
}

.i-start {
	align-i: flex-start;
}

.i-end {
	align-i: flex-end;
}

.i-baseline {
	align-i: baseline;
}

.i-stretch {
	align-i: stretch;
}

.i-c {
	align-i: center;
}

.i-fs {
	align-i: flex-start;
}

.i-fe {
	align-i: flex-end;
}

.i-b {
	align-i: baseline;
}

.i-sh {
	align-i: stretch;
}
