.o-bnr__one-column {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	justify-content: center;
	max-width: 1040px;
	margin: 0 auto;
}

.o-bnr__two-column {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	justify-content: center;
	max-width: 1040px;
	margin: 0 auto;

	@include sp {
		grid-template-columns: 1fr;
		gap: 24px;
	}
}

.o-bnr__link {
	transition: $hover;

	@include hover {
		opacity: 0.7;
	}
}

.o-bnr__picture {
	line-height: 1;
}
