@use "sass:math";
@use "sass:map";

.o-heading {
	@extend %heading;

	&--xl {
		@include font-noto-sans-jp(bold);

		font-size: 32px;
		letter-spacing: 0.06em;
		line-height: 1.375;
		color: $black;

		@include sp {
			font-size: 24px;
		}
	}

	&--lg {
		@extend %heading-lg;
		@include font-noto-sans-jp(bold);
	}

	&--lg-m {
		@extend %heading-lg;
		@include font-noto-sans-jp(medium);
		@include line-height(36, 24);
	}

	&--sm {
		@extend %heading-sm;
	}

	&--xs {
		@extend %heading-xs;
	}

	&--en {
		@include font-noto-sans-jp(black);

		font-size: 12px;
		letter-spacing: 0.12em;
		display: block;
		color: $main;
		margin: 15px 0 0;
	}

	&--bg {
		@extend %heading-bg;
	}
}

.o-heading-border--left {
	@extend %heading;
	@extend %heading-border-left;
}

.o-heading-border--bottom {
	@extend %heading-xs;
	@extend %heading-border-bottom;
}

.o-heading-line {
	@extend %heading-line;

	&__icon {
		margin: 0 8px 0 0;
	}
}

.o-heading-square {
	@extend %heading-square;
}

.o-heading--category {
	@include font-noto-sans-jp(regular);

	font-size: 12px;
	letter-spacing: 0.12em;
	color: $black;

	&::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		margin: 0 0.3em 0 0;
		background-color: $main;
		border-radius: 50%;
		position: relative;
		top: 1px;
	}
}

.archive-title,
.page-title {
	background-color: $main;
	display: flex;
	align-items: center;
	width: 100%;
	height: 192px;
	position: relative;

	@include mq-max(hd) {
		position: relative;
	}

	@include sp {
		height: 120px;
	}

	&::after {
		@include pc {
			content: "";
			background-color: $main;
			width: 100vw;
			height: 100%;
			position: absolute;
			top: 0;
			left: -50%;
			z-index: -1;
		}

		@include mq-max(hd) {
			content: "";
			position: absolute;
			top: -90px;
			left: 0;
			right: 0;
			width: 100%;
			height: 90px;
			background-color: $main;
		}
	}
}

.archive-title {
	margin: 0 0 80px;

	@include sp {
		margin: 0 0 40px;
	}
}

.archive-title__body,
.page-title__body {
	padding: 0 5.172%;
	width: 100%;

	@include sp {
		$psp: vw(40, sp);

		padding: 0 $psp;
	}
}
