.o-heading {
	@include font-zen-kaku-gothic-new(medium);
	@include line-height(80, 50);

	$f: rem(50);

	font-size: $f;
	color: #5b5b5b;
	letter-spacing: 0.03em;
	text-align: center;

	@include sp {
		@include line-height(50, 32);

		$f: rem(32);

		font-size: $f;
		letter-spacing: 0;
	}
}

.o-page-heading {
	@extend %page-heading;
}
