.o-icon {
	display: inline-block;
	line-height: 1;
	position: relative;
	top: 2px;
}

.icon-arrow {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path fill="%23231815" d="M10.9281 0.238643L15.7768 5.42386C16.0744 5.74205 16.0744 6.25794 15.7768 6.57614L10.9281 11.7614C10.6306 12.0795 10.1482 12.0795 9.85062 11.7614C9.55307 11.4432 9.55307 10.9273 9.85062 10.6091L13.3987 6.81478L0 6.81478L0 5.18522L13.3987 5.18522L9.85062 1.39091C9.55307 1.07272 9.55307 0.556834 9.85062 0.238643C10.1482 -0.0795478 10.6306 -0.0795478 10.9281 0.238643Z" /></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 12px;
}

.icon-arrow-circle {
	width: 24px;
	height: 24px;
	background-color: $black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	&::after {
		content: "";
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path fill="%23fffffc" d="M10.9281 0.238643L15.7768 5.42386C16.0744 5.74205 16.0744 6.25794 15.7768 6.57614L10.9281 11.7614C10.6306 12.0795 10.1482 12.0795 9.85062 11.7614C9.55307 11.4432 9.55307 10.9273 9.85062 10.6091L13.3987 6.81478L0 6.81478L0 5.18522L13.3987 5.18522L9.85062 1.39091C9.55307 1.07272 9.55307 0.556834 9.85062 0.238643C10.1482 -0.0795478 10.6306 -0.0795478 10.9281 0.238643Z" /></svg>');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 12px;
		height: 9px;
		display: block;
	}

	&--line {
		width: 24px;
		height: 24px;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 1px solid $black;

		&::after {
			content: "";
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path fill="%23231815" d="M10.9281 0.238643L15.7768 5.42386C16.0744 5.74205 16.0744 6.25794 15.7768 6.57614L10.9281 11.7614C10.6306 12.0795 10.1482 12.0795 9.85062 11.7614C9.55307 11.4432 9.55307 10.9273 9.85062 10.6091L13.3987 6.81478L0 6.81478L0 5.18522L13.3987 5.18522L9.85062 1.39091C9.55307 1.07272 9.55307 0.556834 9.85062 0.238643C10.1482 -0.0795478 10.6306 -0.0795478 10.9281 0.238643Z" /></svg>');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 12px;
			height: 9px;
			display: block;
		}
	}

	&--line-b {
		width: 24px;
		height: 24px;
		background-color: $white;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 1px solid $white;

		&::after {
			content: "";
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path fill="%23231815" d="M10.9281 0.238643L15.7768 5.42386C16.0744 5.74205 16.0744 6.25794 15.7768 6.57614L10.9281 11.7614C10.6306 12.0795 10.1482 12.0795 9.85062 11.7614C9.55307 11.4432 9.55307 10.9273 9.85062 10.6091L13.3987 6.81478L0 6.81478L0 5.18522L13.3987 5.18522L9.85062 1.39091C9.55307 1.07272 9.55307 0.556834 9.85062 0.238643C10.1482 -0.0795478 10.6306 -0.0795478 10.9281 0.238643Z" /></svg>');
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 12px;
			height: 9px;
			display: block;
		}
	}
}

.icon-arrow-back {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 12"><path fill="%23231815" d="M10.9281 0.238643L15.7768 5.42386C16.0744 5.74205 16.0744 6.25794 15.7768 6.57614L10.9281 11.7614C10.6306 12.0795 10.1482 12.0795 9.85062 11.7614C9.55307 11.4432 9.55307 10.9273 9.85062 10.6091L13.3987 6.81478L0 6.81478L0 5.18522L13.3987 5.18522L9.85062 1.39091C9.55307 1.07272 9.55307 0.556834 9.85062 0.238643C10.1482 -0.0795478 10.6306 -0.0795478 10.9281 0.238643Z" /></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 12px;
	rotate: 180deg;
}

.icon-num-circle {
	@extend %icon-num-circle;
}

.icon-crown {
	@extend %icon-crown;
}

.icon-contact {
	background-image: url("../images/svg/icon-contact.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 22px;
	height: 16px;
}

.icon-guide {
	background-image: url("../images/svg/icon-guide.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 22px;
	height: 14px;
}

.icon-search {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23231815" d="M9.89226 10.2115C11.7196 8.32521 11.7196 5.26692 9.89226 3.38063C8.06494 1.49433 5.10226 1.49433 3.27493 3.38063C1.44761 5.26692 1.44761 8.32521 3.27493 10.2115C5.10226 12.0978 8.06494 12.0978 9.89226 10.2115ZM11.2389 11.6016C13.81 8.94758 13.81 4.64455 11.2389 1.99052C8.66785 -0.663508 4.49934 -0.663507 1.92829 1.99052C-0.642764 4.64455 -0.642764 8.94758 1.92829 11.6016C4.49934 14.2556 8.66785 14.2556 11.2389 11.6016Z" /><path fill-rule="evenodd" clip-rule="evenodd" fill="%23231815" d="M10.6426 10.4697C11.0145 10.0858 11.6174 10.0858 11.9892 10.4697L15.7211 14.322C16.093 14.7059 16.093 15.3282 15.7211 15.7121C15.3492 16.096 14.7463 16.096 14.3745 15.7121L10.6426 11.8598C10.2707 11.4759 10.2707 10.8536 10.6426 10.4697Z" /></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}

.icon-search--white {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" clip-rule="evenodd" fill="%23fffffc" d="M9.89226 10.2115C11.7196 8.32521 11.7196 5.26692 9.89226 3.38063C8.06494 1.49433 5.10226 1.49433 3.27493 3.38063C1.44761 5.26692 1.44761 8.32521 3.27493 10.2115C5.10226 12.0978 8.06494 12.0978 9.89226 10.2115ZM11.2389 11.6016C13.81 8.94758 13.81 4.64455 11.2389 1.99052C8.66785 -0.663508 4.49934 -0.663507 1.92829 1.99052C-0.642764 4.64455 -0.642764 8.94758 1.92829 11.6016C4.49934 14.2556 8.66785 14.2556 11.2389 11.6016Z" /><path fill-rule="evenodd" clip-rule="evenodd" fill="%23fffffc" d="M10.6426 10.4697C11.0145 10.0858 11.6174 10.0858 11.9892 10.4697L15.7211 14.322C16.093 14.7059 16.093 15.3282 15.7211 15.7121C15.3492 16.096 14.7463 16.096 14.3745 15.7121L10.6426 11.8598C10.2707 11.4759 10.2707 10.8536 10.6426 10.4697Z" /></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 16px;
}

.icon-download {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 19"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.74194 14.0059V16.6188H16.2581V14.0059H18V16.6188C18 17.5808 17.2201 18.3607 16.2581 18.3607H1.74193C0.779888 18.3607 0 17.5808 0 16.6188V14.0059H1.74194Z" fill="%23231815"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.58063 0.0703125V11.6832H7.83869L7.83869 0.0703125L9.58063 0.0703125Z" fill="%23231815"/><path fill-rule="evenodd" clip-rule="evenodd" d="M2.57723 6.3646C2.91737 6.02447 3.46883 6.02447 3.80897 6.3646L8.94119 11.4968L14.0734 6.3646C14.4136 6.02447 14.965 6.02447 15.3052 6.3646C15.6453 6.70474 15.6453 7.2562 15.3052 7.59634L9.55706 13.3444C9.21693 13.6846 8.66546 13.6846 8.32533 13.3444L2.57723 7.59634C2.2371 7.2562 2.2371 6.70474 2.57723 6.3646Z" fill="%23231815"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 18px;
	height: 19px;

	&--yellow {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M1.74194 14.0059V16.6188H16.2581V14.0059H18V16.6188C18 17.5808 17.2201 18.3607 16.2581 18.3607H1.74193C0.779888 18.3607 0 17.5808 0 16.6188V14.0059H1.74194Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M9.58063 0.0703125V11.6832H7.83869L7.83869 0.0703125L9.58063 0.0703125Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M2.57723 6.3646C2.91737 6.02447 3.46883 6.02447 3.80897 6.3646L8.94119 11.4968L14.0734 6.3646C14.4136 6.02447 14.965 6.02447 15.3052 6.3646C15.6453 6.70474 15.6453 7.2562 15.3052 7.59634L9.55706 13.3444C9.21693 13.6846 8.66546 13.6846 8.32533 13.3444L2.57723 7.59634C2.2371 7.2562 2.2371 6.70474 2.57723 6.3646Z" fill="%23ffc600"/>';

		@include icon-svg($p, 24, 24);
	}
}

.icon-external {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.68378 3.75H1C0.447715 3.75 0 4.19772 0 4.75V12.5001C0 13.0524 0.447714 13.5001 0.999999 13.5001H11.8003C12.3526 13.5001 12.8003 13.0524 12.8003 12.5001V11.8752H1.68378V3.75Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.88347 2.12502V8.62511H14.3153V2.12502H4.88347ZM4.04134 0.5C3.57625 0.5 3.19922 0.863773 3.19922 1.31251V9.43762C3.19922 9.88636 3.57625 10.2501 4.04134 10.2501H15.1574C15.6225 10.2501 15.9995 9.88636 15.9995 9.43762V1.31251C15.9995 0.863774 15.6225 0.5 15.1574 0.5H4.04134Z" fill="%23ffc600"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 13px;
	transition: $hover;
}

.o-icon-external {
	display: inline-block;
	line-height: 1;
	position: relative;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13"><path fill-rule="evenodd" clip-rule="evenodd" d="M1.68378 3.75H1C0.447715 3.75 0 4.19772 0 4.75V12.5001C0 13.0524 0.447714 13.5001 0.999999 13.5001H11.8003C12.3526 13.5001 12.8003 13.0524 12.8003 12.5001V11.8752H1.68378V3.75Z" fill="%23F231815"/><path fill-rule="evenodd" clip-rule="evenodd" d="M4.88347 2.12502V8.62511H14.3153V2.12502H4.88347ZM4.04134 0.5C3.57625 0.5 3.19922 0.863773 3.19922 1.31251V9.43762C3.19922 9.88636 3.57625 10.2501 4.04134 10.2501H15.1574C15.6225 10.2501 15.9995 9.88636 15.9995 9.43762V1.31251C15.9995 0.863774 15.6225 0.5 15.1574 0.5H4.04134Z" fill="%23231815"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 16px;
	height: 13px;
}

.icon-line {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 24"><path d="M12.0117 24C18.6391 24 24.0117 18.6274 24.0117 12C24.0117 5.37258 18.6391 0 12.0117 0C5.3843 0 0.0117188 5.37258 0.0117188 12C0.0117188 18.6274 5.3843 24 12.0117 24Z" fill="%23767676"/><path d="M20.0137 11.3018C20.0137 7.71678 16.4197 4.80078 12.0029 4.80078C7.58619 4.80078 3.99219 7.71753 3.99219 11.3018C3.99219 14.5155 6.84219 17.2065 10.6919 17.7158C10.9529 17.772 11.3077 17.8875 11.3977 18.111C11.4787 18.3135 11.4502 18.6308 11.4239 18.8355C11.4239 18.8355 11.3302 19.401 11.3099 19.521C11.2747 19.7235 11.1487 20.313 12.0037 19.953C12.8587 19.593 16.6169 17.2365 18.2977 15.3023C19.4587 14.0288 20.0152 12.7373 20.0152 11.3025L20.0137 11.3018Z" fill="%23FFFFFC"/><path d="M17.3491 13.3728C17.4338 13.3728 17.5021 13.3046 17.5021 13.2198V12.6513C17.5021 12.5673 17.4331 12.4983 17.3491 12.4983H15.8198V11.9081H17.3491C17.4338 11.9081 17.5021 11.8398 17.5021 11.7551V11.1873C17.5021 11.1033 17.4331 11.0343 17.3491 11.0343H15.8198V10.4441H17.3491C17.4338 10.4441 17.5021 10.3758 17.5021 10.2911V9.72331C17.5021 9.63931 17.4331 9.57031 17.3491 9.57031H15.0983C15.0136 9.57031 14.9453 9.63856 14.9453 9.72331V9.72631V13.2168V13.2198C14.9453 13.3046 15.0136 13.3728 15.0983 13.3728H17.3491Z" fill="%23767676"/><path d="M9.02484 13.3728C9.10959 13.3728 9.17784 13.3046 9.17784 13.2198V12.6513C9.17784 12.5673 9.10884 12.4983 9.02484 12.4983H7.49559V9.72331C7.49559 9.63931 7.42659 9.57031 7.34259 9.57031H6.77409C6.68934 9.57031 6.62109 9.63856 6.62109 9.72331V13.2168V13.2198C6.62109 13.3046 6.68934 13.3728 6.77409 13.3728H9.02484Z" fill="%23767676"/><path d="M10.379 9.57031H9.8112C9.7267 9.57031 9.6582 9.63881 9.6582 9.72331V13.2191C9.6582 13.3036 9.7267 13.3721 9.8112 13.3721H10.379C10.4635 13.3721 10.532 13.3036 10.532 13.2191V9.72331C10.532 9.63881 10.4635 9.57031 10.379 9.57031Z" fill="%23767676"/><path d="M14.2461 9.57031H13.6776C13.5929 9.57031 13.5246 9.63856 13.5246 9.72331V11.8001L11.9249 9.64006C11.9211 9.63481 11.9166 9.62956 11.9129 9.62431C11.9129 9.62431 11.9129 9.62431 11.9121 9.62356C11.9091 9.62056 11.9061 9.61681 11.9031 9.61381C11.9024 9.61306 11.9009 9.61231 11.9001 9.61156C11.8971 9.60931 11.8949 9.60706 11.8919 9.60481C11.8904 9.60406 11.8889 9.60256 11.8874 9.60181C11.8851 9.59956 11.8821 9.59806 11.8791 9.59656C11.8776 9.59581 11.8761 9.59431 11.8746 9.59356C11.8716 9.59206 11.8694 9.59056 11.8664 9.58906C11.8649 9.58831 11.8634 9.58756 11.8619 9.58681C11.8589 9.58531 11.8559 9.58381 11.8529 9.58306C11.8514 9.58306 11.8499 9.58156 11.8476 9.58156C11.8446 9.58081 11.8416 9.57931 11.8386 9.57856C11.8371 9.57856 11.8349 9.57781 11.8334 9.57706C11.8304 9.57706 11.8274 9.57556 11.8244 9.57481C11.8221 9.57481 11.8199 9.57481 11.8176 9.57406C11.8146 9.57406 11.8124 9.57331 11.8094 9.57331C11.8064 9.57331 11.8041 9.57331 11.8011 9.57331C11.7996 9.57331 11.7974 9.57331 11.7959 9.57331H11.2311C11.1464 9.57331 11.0781 9.64156 11.0781 9.72631V13.2228C11.0781 13.3076 11.1464 13.3758 11.2311 13.3758H11.7996C11.8844 13.3758 11.9526 13.3076 11.9526 13.2228V11.1468L13.5539 13.3098C13.5651 13.3256 13.5786 13.3383 13.5936 13.3481C13.5936 13.3481 13.5951 13.3488 13.5951 13.3496C13.5981 13.3518 13.6011 13.3533 13.6049 13.3556C13.6064 13.3563 13.6079 13.3571 13.6094 13.3578C13.6116 13.3593 13.6146 13.3601 13.6169 13.3616C13.6191 13.3631 13.6221 13.3638 13.6244 13.3646C13.6259 13.3646 13.6274 13.3661 13.6289 13.3661C13.6326 13.3676 13.6356 13.3683 13.6394 13.3691C13.6394 13.3691 13.6409 13.3691 13.6416 13.3691C13.6544 13.3721 13.6679 13.3743 13.6814 13.3743H14.2461C14.3309 13.3743 14.3991 13.3061 14.3991 13.2213V9.72481C14.3991 9.64006 14.3309 9.57181 14.2461 9.57181V9.57031Z" fill="%23767676"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 25px;
	height: 24px;
}

.icon-copy {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 12"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.55491 3.70345C2.53863 3.87803 2.53027 4.05546 2.53027 4.23522C2.53027 4.55913 2.55741 4.87549 2.60911 5.18125C1.7773 5.61965 1.1969 6.61139 1.1969 7.76459C1.1969 9.32398 2.25816 10.5881 3.56727 10.5881H9.4932C10.4304 10.5881 11.2406 9.94022 11.6253 8.99993H12.7525C12.8005 8.99993 12.8483 8.99892 12.8959 8.99692C12.4529 10.735 11.097 11.9999 9.4932 11.9999H3.56727C1.6036 11.9999 0.0117188 10.1037 0.0117188 7.76459C0.0117188 5.84447 1.08441 4.22278 2.55491 3.70345ZM3.47531 3.53069C3.43846 3.75878 3.41916 3.99432 3.41916 4.23522C3.41916 4.47731 3.43865 4.71398 3.47586 4.94312C3.50619 4.94175 3.53666 4.94106 3.56727 4.94106H9.4932C10.8023 4.94106 11.8636 6.2052 11.8636 7.76459C11.8636 7.82387 11.862 7.88273 11.859 7.9411H12.7525C12.8516 7.9411 12.9496 7.93559 13.0463 7.9248C13.0479 7.87164 13.0488 7.81823 13.0488 7.76459C13.0488 5.4255 11.4569 3.5293 9.4932 3.5293L3.56727 3.5293C3.53653 3.5293 3.50587 3.52976 3.47531 3.53069Z" fill="%23231815"/><path fill-rule="evenodd" clip-rule="evenodd" d="M2.97461 4.2353C2.97461 1.89621 4.56649 0 6.53016 0L12.4561 0C14.4198 0 16.0116 1.89621 16.0116 4.2353C16.0116 6.57438 14.4198 8.47059 12.4561 8.47059H6.53016C4.56649 8.47059 2.97461 6.57438 2.97461 4.2353ZM6.53016 1.41177C5.22105 1.41177 4.15979 2.6759 4.15979 4.2353C4.15979 5.79469 5.22105 7.05883 6.53016 7.05883H12.4561C13.7652 7.05883 14.8265 5.79469 14.8265 4.2353C14.8265 2.6759 13.7652 1.41177 12.4561 1.41177L6.53016 1.41177Z" fill="%23231815"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 17px;
	height: 12px;
}

.icon-twitter {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 24"><path d="M29.55 2.85C28.7125 4.075 27.7 5.11875 26.5125 5.98125C26.525 6.15625 26.5313 6.41875 26.5313 6.76875C26.5313 8.39375 26.2938 10.0156 25.8188 11.6344C25.3438 13.2531 24.6219 14.8063 23.6531 16.2938C22.6844 17.7812 21.5312 19.0969 20.1938 20.2406C18.8563 21.3844 17.2438 22.2969 15.3563 22.9781C13.4688 23.6594 11.45 24 9.3 24C5.9125 24 2.8125 23.0938 0 21.2812C0.4375 21.3313 0.925 21.3563 1.4625 21.3563C4.275 21.3563 6.78125 20.4938 8.98125 18.7688C7.66875 18.7438 6.49375 18.3406 5.45625 17.5594C4.41875 16.7781 3.70625 15.7813 3.31875 14.5688C3.73125 14.6313 4.1125 14.6625 4.4625 14.6625C5 14.6625 5.53125 14.5938 6.05625 14.4563C4.65625 14.1688 3.49688 13.4719 2.57812 12.3656C1.65938 11.2594 1.2 9.975 1.2 8.5125V8.4375C2.05 8.9125 2.9625 9.16875 3.9375 9.20625C3.1125 8.65625 2.45625 7.9375 1.96875 7.05C1.48125 6.1625 1.2375 5.2 1.2375 4.1625C1.2375 3.0625 1.5125 2.04375 2.0625 1.10625C3.575 2.96875 5.41563 4.45938 7.58438 5.57812C9.75313 6.69688 12.075 7.31875 14.55 7.44375C14.45 6.96875 14.4 6.50625 14.4 6.05625C14.4 4.38125 14.9906 2.95312 16.1719 1.77188C17.3531 0.590625 18.7812 0 20.4563 0C22.2063 0 23.6813 0.6375 24.8813 1.9125C26.2438 1.65 27.525 1.1625 28.725 0.45C28.2625 1.8875 27.375 3 26.0625 3.7875C27.225 3.6625 28.3875 3.35 29.55 2.85Z" fill="%23767676"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 30px;
	height: 24px;
}

.icon-facebook {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 24"><path d="M13.0113 0.173077V3.98077H10.7469C9.92 3.98077 9.3623 4.15385 9.07384 4.5C8.78538 4.84615 8.64115 5.36538 8.64115 6.05769V8.78365H12.8671L12.3046 13.0529H8.64115V24H4.22769V13.0529H0.549805V8.78365H4.22769V5.63942C4.22769 3.85096 4.72769 2.46394 5.72769 1.47837C6.72769 0.492788 8.05942 0 9.72288 0C11.1363 0 12.2325 0.0576923 13.0113 0.173077Z" fill="%23767676"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 14px;
	height: 24px;
}

.icon-heart {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28"><path d="M14.5064 5.40766C14.8859 5.83382 15.4294 6.07758 16 6.07758C16.5706 6.07758 17.1141 5.83382 17.4936 5.40766C20.0957 2.48565 22.754 1.75386 24.787 2.06806C26.8592 2.38832 28.6557 3.84112 29.4987 6.04453C31.0689 10.1484 29.3977 18.0775 16 24.774C2.60234 18.0775 0.931075 10.1484 2.50126 6.04453C3.34431 3.84112 5.14084 2.38832 7.21305 2.06806C9.24605 1.75386 11.9043 2.48565 14.5064 5.40766Z" stroke="%23767676" stroke-width="4" stroke-linejoin="round" fill="%23FFFFFC"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 32px;
	height: 28px;

	&.is-active {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 28"><path d="M16 27.8906C45.1381 13.9621 27.8397 -8.32718 16 4.9682C4.16029 -8.32718 -13.1381 13.9621 16 27.8906Z" fill="%23ffc600"/></svg>');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 32px;
		height: 28px;
	}
}

.icon-home {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 0L0 4.8V12H4V9C4 7.89543 4.89543 7 6 7C7.10457 7 8 7.89543 8 9V12H12V4.8L6 0Z" fill="%23666666"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 12px;
	height: 12px;
}

.icon-pin {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 28"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.2833 28C10.2833 28 20.5666 17.7608 20.5666 10.2833C20.5666 7.55601 19.4832 4.94041 17.5547 3.01191C15.6262 1.08342 13.0106 0 10.2833 0C7.55601 0 4.94041 1.08342 3.01191 3.01191C1.08342 4.94041 0 7.55601 0 10.2833C0 17.7608 10.2833 28 10.2833 28ZM13.2219 10.129C13.2219 11.7517 11.9065 13.0671 10.2838 13.0671C8.66113 13.0671 7.3457 11.7517 7.3457 10.129C7.3457 8.50635 8.66113 7.19092 10.2838 7.19092C11.9065 7.19092 13.2219 8.50635 13.2219 10.129Z" fill="%23ffc600"/></svg>');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 21px;
	height: 28px;
}

.icon-wifi {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M37.3333 10.9314C27.7604 1.37555 12.2396 1.37555 2.66667 10.9314L0 8.26951C11.0457 -2.7565 28.9543 -2.7565 40 8.26951L37.3333 10.9314Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M31.9994 16.2553C25.372 9.63965 14.6268 9.63965 7.99943 16.2553L5.33276 13.5933C13.4329 5.5076 26.5659 5.5076 34.6661 13.5933L31.9994 16.2553Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M26.6655 21.5791C22.9836 17.9037 17.0141 17.9037 13.3322 21.5791L10.6655 18.9172C15.8202 13.7717 24.1775 13.7717 29.3322 18.9172L26.6655 21.5791Z" fill="%23F2F2F2"/><path d="M22.6719 30.8974C21.1991 32.3675 18.8113 32.3675 17.3386 30.8974C15.8658 29.4273 15.8658 27.0437 17.3386 25.5736C18.8113 24.1034 21.1991 24.1034 22.6719 25.5736C24.1447 27.0437 24.1447 29.4273 22.6719 30.8974Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 40, 32);

	&.is-on {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M37.3333 10.9314C27.7604 1.37555 12.2396 1.37555 2.66667 10.9314L0 8.26951C11.0457 -2.7565 28.9543 -2.7565 40 8.26951L37.3333 10.9314Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M31.9994 16.2553C25.372 9.63965 14.6268 9.63965 7.99943 16.2553L5.33276 13.5933C13.4329 5.5076 26.5659 5.5076 34.6661 13.5933L31.9994 16.2553Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M26.6655 21.5791C22.9836 17.9037 17.0141 17.9037 13.3322 21.5791L10.6655 18.9172C15.8202 13.7717 24.1775 13.7717 29.3322 18.9172L26.6655 21.5791Z" fill="%23ffc600"/><path d="M22.6719 30.8974C21.1991 32.3675 18.8113 32.3675 17.3386 30.8974C15.8658 29.4273 15.8658 27.0437 17.3386 25.5736C18.8113 24.1034 21.1991 24.1034 22.6719 25.5736C24.1447 27.0437 24.1447 29.4273 22.6719 30.8974Z" fill="%23ffc600"/>';

		@include icon-svg($p, 40, 32);
	}
}

.icon-plug {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M28 3H4C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21H28C28.5523 21 29 20.5523 29 20V4C29 3.44772 28.5523 3 28 3ZM4 0C1.79086 0 0 1.79086 0 4V20C0 22.2091 1.79086 24 4 24H28C30.2091 24 32 22.2091 32 20V4C32 1.79086 30.2091 0 28 0H4Z" fill="%23F2F2F2"/><path d="M8 9C8 7.89543 8.89543 7 10 7C11.1046 7 12 7.89543 12 9V15C12 16.1046 11.1046 17 10 17C8.89543 17 8 16.1046 8 15V9Z" fill="%23F2F2F2"/><path d="M20 9C20 7.89543 20.8954 7 22 7C23.1046 7 24 7.89543 24 9V15C24 16.1046 23.1046 17 22 17C20.8954 17 20 16.1046 20 15V9Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 32, 24);

	&.is-on {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M28 3H4C3.44772 3 3 3.44772 3 4V20C3 20.5523 3.44772 21 4 21H28C28.5523 21 29 20.5523 29 20V4C29 3.44772 28.5523 3 28 3ZM4 0C1.79086 0 0 1.79086 0 4V20C0 22.2091 1.79086 24 4 24H28C30.2091 24 32 22.2091 32 20V4C32 1.79086 30.2091 0 28 0H4Z" fill="%23ffc600"/><path d="M8 9C8 7.89543 8.89543 7 10 7C11.1046 7 12 7.89543 12 9V15C12 16.1046 11.1046 17 10 17C8.89543 17 8 16.1046 8 15V9Z" fill="%23ffc600"/><path d="M20 9C20 7.89543 20.8954 7 22 7C23.1046 7 24 7.89543 24 9V15C24 16.1046 23.1046 17 22 17C20.8954 17 20 16.1046 20 15V9Z" fill="%23ffc600"/>';

		@include icon-svg($p, 32, 24);
	}
}

.icon-conference {
	$p: '<circle cx="28" cy="9" r="4" fill="%23F2F2F2"/><path d="M22 20C22 16.6863 24.6863 14 28 14C31.3137 14 34 16.6863 34 20V32H22V20Z" fill="%23F2F2F2"/><circle cx="12" cy="9" r="4" fill="%23F2F2F2"/><path d="M6 20C6 16.6863 8.68629 14 12 14C15.3137 14 18 16.6863 18 20V32H6V20Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.74844e-06 40L0 -1.31133e-07L3 0L3 40L-1.74844e-06 40Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M37 40L37 -1.31133e-07L40 0L40 40L37 40Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 40, 40);

	&.is-on {
		$p: '<circle cx="28" cy="9" r="4" fill="%23ffc600"/><path d="M22 20C22 16.6863 24.6863 14 28 14C31.3137 14 34 16.6863 34 20V32H22V20Z" fill="%23ffc600"/><circle cx="12" cy="9" r="4" fill="%23ffc600"/><path d="M6 20C6 16.6863 8.68629 14 12 14C15.3137 14 18 16.6863 18 20V32H6V20Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.74844e-06 40L0 -1.31133e-07L3 0L3 40L-1.74844e-06 40Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M37 40L37 -1.31133e-07L40 0L40 40L37 40Z" fill="%23ffc600"/>';

		@include icon-svg($p, 40, 40);
	}
}

.icon-teleconference {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M20 4H2C0.895431 4 0 4.89543 0 6V30C0 31.1046 0.89543 32 2 32H32C33.1046 32 34 31.1046 34 30V16H31V29H3V7H20V4Z" fill="%23F2F2F2"/><path d="M18 19C18 21.2091 16.2091 23 14 23C11.7909 23 10 21.2091 10 19C10 16.7909 11.7909 15 14 15C16.2091 15 18 16.7909 18 19Z" fill="%23F2F2F2"/><path d="M8 30C8 26.6863 10.6863 24 14 24C17.3137 24 20 26.6863 20 30V32H8V30Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22 12H1V9H22V12Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38 2H22V14H38V2ZM22 0C20.8954 0 20 0.895431 20 2V16H38C39.1046 16 40 15.1046 40 14V2C40 0.895431 39.1046 0 38 0H22Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M24 6C24 5.44772 24.4477 5 25 5H35C35.5523 5 36 5.44772 36 6C36 6.55228 35.5523 7 35 7H25C24.4477 7 24 6.55228 24 6Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M24 10C24 9.44772 24.4477 9 25 9H31C31.5523 9 32 9.44772 32 10C32 10.5523 31.5523 11 31 11H25C24.4477 11 24 10.5523 24 10Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 40, 32);

	&.is-on {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M20 4H2C0.895431 4 0 4.89543 0 6V30C0 31.1046 0.89543 32 2 32H32C33.1046 32 34 31.1046 34 30V16H31V29H3V7H20V4Z" fill="%23ffc600"/><path d="M18 19C18 21.2091 16.2091 23 14 23C11.7909 23 10 21.2091 10 19C10 16.7909 11.7909 15 14 15C16.2091 15 18 16.7909 18 19Z" fill="%23ffc600"/><path d="M8 30C8 26.6863 10.6863 24 14 24C17.3137 24 20 26.6863 20 30V32H8V30Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22 12H1V9H22V12Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M38 2H22V14H38V2ZM22 0C20.8954 0 20 0.895431 20 2V16H38C39.1046 16 40 15.1046 40 14V2C40 0.895431 39.1046 0 38 0H22Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M24 6C24 5.44772 24.4477 5 25 5H35C35.5523 5 36 5.44772 36 6C36 6.55228 35.5523 7 35 7H25C24.4477 7 24 6.55228 24 6Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M24 10C24 9.44772 24.4477 9 25 9H31C31.5523 9 32 9.44772 32 10C32 10.5523 31.5523 11 31 11H25C24.4477 11 24 10.5523 24 10Z" fill="%23ffc600"/>';

		@include icon-svg($p, 40, 32);
	}
}

.icon-corp {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5575 3L3 10.0537V32H27V3H10.5575ZM28 0C29.1046 0 30 0.895431 30 2V33C30 34.1046 29.1046 35 28 35H2C0.89543 35 0 34.1046 0 33V9.6191C0 9.06474 0.230093 8.53525 0.635363 8.15699L8.79869 0.53789C9.16903 0.192238 9.65674 0 10.1633 0H28Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 11.6716 7.67157 11 8.5 11H21.5C22.3284 11 23 11.6716 23 12.5C23 13.3284 22.3284 14 21.5 14H8.5C7.67157 14 7 13.3284 7 12.5Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 18.5C7 17.6716 7.67157 17 8.5 17H21.5C22.3284 17 23 17.6716 23 18.5C23 19.3284 22.3284 20 21.5 20H8.5C7.67157 20 7 19.3284 7 18.5Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 24.5C7 23.6716 7.67157 23 8.5 23H21.5C22.3284 23 23 23.6716 23 24.5C23 25.3284 22.3284 26 21.5 26H8.5C7.67157 26 7 25.3284 7 24.5Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 30, 35);

	&.is-on {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5575 3L3 10.0537V32H27V3H10.5575ZM28 0C29.1046 0 30 0.895431 30 2V33C30 34.1046 29.1046 35 28 35H2C0.89543 35 0 34.1046 0 33V9.6191C0 9.06474 0.230093 8.53525 0.635363 8.15699L8.79869 0.53789C9.16903 0.192238 9.65674 0 10.1633 0H28Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 12.5C7 11.6716 7.67157 11 8.5 11H21.5C22.3284 11 23 11.6716 23 12.5C23 13.3284 22.3284 14 21.5 14H8.5C7.67157 14 7 13.3284 7 12.5Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 18.5C7 17.6716 7.67157 17 8.5 17H21.5C22.3284 17 23 17.6716 23 18.5C23 19.3284 22.3284 20 21.5 20H8.5C7.67157 20 7 19.3284 7 18.5Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 24.5C7 23.6716 7.67157 23 8.5 23H21.5C22.3284 23 23 23.6716 23 24.5C23 25.3284 22.3284 26 21.5 26H8.5C7.67157 26 7 25.3284 7 24.5Z" fill="%23ffc600"/>';

		@include icon-svg($p, 30, 35);
	}
}

.icon-room {
	$p: '<circle cx="18" cy="9" r="4" fill="%23F2F2F2"/><path d="M12 20C12 16.6863 14.6863 14 18 14C21.3137 14 24 16.6863 24 20V32H12V20Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.74844e-06 40L0 -1.31133e-07L3 0L3 40L-1.74844e-06 40Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M33 40L33 -1.31133e-07L36 0L36 40L33 40Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 36 , 40);

	&.is-on {
		$p: '<circle cx="18" cy="9" r="4" fill="%23ffc600"/><path d="M12 20C12 16.6863 14.6863 14 18 14C21.3137 14 24 16.6863 24 20V32H12V20Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.74844e-06 40L0 -1.31133e-07L3 0L3 40L-1.74844e-06 40Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M33 40L33 -1.31133e-07L36 0L36 40L33 40Z" fill="%23ffc600"/>';

		@include icon-svg($p, 36 , 40);
	}
}

.icon-parking {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M4 0H0V16V24H4V16H11C15.4183 16 19 12.4183 19 8C19 3.58172 15.4183 0 11 0H4ZM4 12H11C13.2091 12 15 10.2091 15 8C15 5.79086 13.2091 4 11 4H4V12Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 19, 24);

	&.is-on {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M4 0H0V16V24H4V16H11C15.4183 16 19 12.4183 19 8C19 3.58172 15.4183 0 11 0H4ZM4 12H11C13.2091 12 15 10.2091 15 8C15 5.79086 13.2091 4 11 4H4V12Z" fill="%23ffc600"/>';

		@include icon-svg($p, 19, 24);
	}
}

.icon-printer {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M3 24V12H33V24H28V27H34C35.1046 27 36 26.1046 36 25V11C36 9.89543 35.1046 9 34 9H2C0.895431 9 0 9.89543 0 11V25C0 26.1046 0.895432 27 2 27H8V24H3Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25 23H11V34H25V23ZM8 20V35C8 36.1046 8.89543 37 10 37H26C27.1046 37 28 36.1046 28 35V20H8Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11 3V9H25V3H11ZM10 0C8.89543 0 8 0.895431 8 2V12H28V2C28 0.895431 27.1046 0 26 0H10Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 26.5C12 25.6716 12.6716 25 13.5 25H22.5C23.3284 25 24 25.6716 24 26.5C24 27.3284 23.3284 28 22.5 28H13.5C12.6716 28 12 27.3284 12 26.5Z" fill="%23F2F2F2"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 30.5C12 29.6716 12.6716 29 13.5 29H22.5C23.3284 29 24 29.6716 24 30.5C24 31.3284 23.3284 32 22.5 32H13.5C12.6716 32 12 31.3284 12 30.5Z" fill="%23F2F2F2"/>';

	@include icon-svg($p, 36, 37);

	&.is-on {
		$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M3 24V12H33V24H28V27H34C35.1046 27 36 26.1046 36 25V11C36 9.89543 35.1046 9 34 9H2C0.895431 9 0 9.89543 0 11V25C0 26.1046 0.895432 27 2 27H8V24H3Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25 23H11V34H25V23ZM8 20V35C8 36.1046 8.89543 37 10 37H26C27.1046 37 28 36.1046 28 35V20H8Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M11 3V9H25V3H11ZM10 0C8.89543 0 8 0.895431 8 2V12H28V2C28 0.895431 27.1046 0 26 0H10Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 26.5C12 25.6716 12.6716 25 13.5 25H22.5C23.3284 25 24 25.6716 24 26.5C24 27.3284 23.3284 28 22.5 28H13.5C12.6716 28 12 27.3284 12 26.5Z" fill="%23ffc600"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 30.5C12 29.6716 12.6716 29 13.5 29H22.5C23.3284 29 24 29.6716 24 30.5C24 31.3284 23.3284 32 22.5 32H13.5C12.6716 32 12 31.3284 12 30.5Z" fill="%23ffc600"/>';

		@include icon-svg($p, 36, 37);
	}
}

.icon-time {
	$p: '<path fill-rule="evenodd" clip-rule="evenodd" d="M7 1.55556C3.99312 1.55556 1.55556 3.99312 1.55556 7C1.55556 10.0069 3.99312 12.4444 7 12.4444C10.0069 12.4444 12.4444 10.0069 12.4444 7C12.4444 3.99312 10.0069 1.55556 7 1.55556ZM0 7C0 3.13401 3.13401 0 7 0C10.866 0 14 3.13401 14 7C14 10.866 10.866 14 7 14C3.13401 14 0 10.866 0 7Z" fill="%23666666"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.77778 1.55556V7.77778H6.22222V1.55556H7.77778Z" fill="%23666666"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7.77778 7.77778H0.777778V6.22222H7.77778V7.77778Z" fill="%23666666"/>';

	@include icon-svg($p, 14 , 14);
}

.icon-more {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 1px solid $black;
	background-color: $white;
	position: relative;
	display: inline-block;

	&::before,
	&::after {
		content: "";
		width: 12px;
		height: 2px;
		background-color: $black;
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		rotate: 0;
		transition: 0.5s $transform-easing;
	}

	&::after {
		rotate: 90deg;
		opacity: 1;
	}

	&.is-active {
		&::after {
			rotate: 0deg;
			opacity: 0;
		}
	}
}

.icon-pdf {
	@include font-noto-sans-jp(bold);

	display: inline-block;
	font-size: 10px;
	line-height: 1;
	padding: 6px;
	border-radius: 4px;
	color: $white;
	background-color: #666;
}
