.o-svg--download {
	width: 18px;
	height: 19px;
	display: inline-block;
	line-height: 1;
	position: relative;
	top: 2px;
}

.o-svg--contact {
	width: 22px;
	height: 16px;
	display: inline-block;
	line-height: 1;
	position: relative;
	top: 2px;
}
