.o-table-row {
	@include font-noto-sans-jp(regular);

	font-size: 18px;
	color: $black;
	line-height: 1;
	letter-spacing: 0.06em;
	width: 100%;
	border-bottom: 1px solid #d9d9d9;

	@include sp {
		font-size: 16px;
	}
}

.o-table-row__title {
	@include font-noto-sans-jp(medium);

	font-size: 22px;
	color: $black;
	line-height: 1;
	margin: 0 0 50px;

	@include sp {
		font-size: 20px;
		margin: 0 0 34px;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 1.1em;
		height: 1.1em;
		background-color: #fee780;
		border-radius: 4px;
		position: relative;
		top: 3px;
		margin: 0 8px 0 0;
	}
}

.o-table-row__subject,
.o-table-row__desc {
	line-height: 1.7;

	@include pc {
		border-top: 1px solid #d9d9d9;
		padding: 32px 0;
	}

	@include sp {
		display: block;
	}
}

.o-table-row__subject {
	@include font-noto-sans-jp(medium);

	width: 20%;
	margin: 0 2% 0 0;

	@include sp {
		width: 100%;
		margin: 0 0 16px;
		padding: 32px 0 0;
		border-top: 1px solid #d9d9d9;
	}
}

.o-table-row__desc {
	width: 80%;

	@include sp {
		width: 100%;
		padding: 0 0 32px;
	}
}

.o-table-row-sm {
	@include font-noto-sans-jp(regular);

	font-size: 16px;
	color: $black;

	@include line-height(28, 16);

	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 8px 12px;

	@include sp {
		font-size: 14px;
	}
}

.o-table-row-sm__subject {
	@include font-noto-sans-jp(medium);

	font-size: 14px;
	line-height: 1;
	color: $black;
	background-color: #f2f2f2;
	padding: 8px 12px;
	border-radius: 4px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	@include sp {
		font-size: 12px;
	}
}
