.o-video {
	position: relative;
	width: 100%;
	aspect-ratio: 16 / 9;

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 100%;
		height: 100%;
	}

	iframe {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 100%;
		height: 100%;
	}
}
